{% load staticfiles %}

<html>
{% include 'header.html' %}
<body id="top">
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><a href="/">Influence Map</a></h1>
      <p>Constructing maps of intellectual influence using academic data</p>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
<div id="searchbar" class="wrapper bgded overlay">
  {% include 'navbar.html' with navbar=navbarOption %}
</div>
<div class="wrapper">
  <div id="lefttable" class="hoc clear">
    <div id="tables-container" style="width:75%; padding:5px;">
      <div id="searchtable-container">
        <table id="searchtable" class="row-border hover order-column" cellspacing="0" width="100%"></table>
      </div>
    </div>
  </div>
</div>
<div id="rightslider">
  <div id="selectiontable-container" style="width: 100%; height: 100%">
    <table id="selectiontable" class="row-border hover order-column" cellspacing="0" width="100%"></table>
    <input id="continue-btn" class="btn medium" type="submit" value="Go" float="bottom" style="width:100%" />
  </div>
</div>
</body>
</html>
<script src="{% static 'js/searchTableConfig.js' %}"></script>
<script src="{% static 'js/selectionTableConfig.js' %}"></script>
<script>
// keep track of whether search was expanded
var latestSearchTerm = "";
var latestSearchOption = $(".entity-option:checked").val();

var selectiontable = $('#selectiontable').DataTable(selectionTableConfig['tableSettings']);
var searchtable = $('#searchtable').DataTable(searchTableConfig['tableSettings']);

// ----  data table  ----
var searchtableContainer = document.getElementById("searchtable-container");


// function to create searchTable
function makeSearchTable(entityType){
  if ($.fn.DataTable.isDataTable("#searchtable")) {
    $('#searchtable').DataTable().clear().destroy();
    $('#searchtable').empty();
  }
  var tableSettings = searchTableConfig['tableSettings'];
  return $('#searchtable').DataTable(tableSettings);
}


// update searchTable
function updateTable(data, table){
  table.clear();

  for(var i in data) {
    table.row.add(data[i]);
  };
  table.draw();
}

var inputBar = document.getElementById("name-search-bar");
var searchButton = document.getElementById("search-btn");
var continueButton = document.getElementById("continue-btn");



// ----  listeners  ----

continueButton.addEventListener('click', function(){
   data = {
       option: latestSearchOption,
       keyword: latestSearchTerm,
       selfcite: false, //selfCiteCheckbox.checked,
       bot_year_min: 0,
       top_year_max: 3000
   }
   postData('/submit/', data, "{% csrf_token %}")
});

function search(){
  console.log("searching")
  latestSearchOption = $(".entity-option:selected").val();
  searchtable = makeSearchTable(latestSearchOption);
  latestSearchTerm = inputBar.value;

  // showProgressBar();
  $.ajax({
    type: "POST",
    url: "/search",
    data: { // input to the views.py - search()
      keyword: latestSearchTerm,
      option: latestSearchOption,
    },
    success: function (result) { // return data if success
      updateTable(result["entities"], searchtable);
      searchTableEventHandling();
      searchtable.rows().nodes().each(function(a) {
        selectiontable.rows().nodes().each(function(b) {
          var search_row = searchtable.row(a);
          var selection_row = selectiontable.row(b);
          if(search_row.data()['table-id'] === selection_row.data()['table-id']){
            search_row.select();
          }
        })
      });
    },
    error: function (result) {
      console.log("searchButton error");
    }
  });
}

var searchButton = document.getElementById('search-btn');
var searchBar = document.getElementById('name-search-bar')
searchButton.addEventListener('click', function(){
  search();
});

// Search when enter pressed in input bar
searchBar.addEventListener('keypress', function (e) {
  var key = e.which || e.keyCode;
  if (key === 13) { // 13 is enter
    search();
  }
});

function searchTableEventHandling() {
  $('#searchtable tr').on('click', function () {
      var tr = $(this).closest('tr');
      var row = searchtable.row( tr );
      if (!tr.hasClass('selected')){
        var newRow = row.data();
        selectiontable.row.add(newRow).draw();
      }
      else {
        selectiontable.rows().nodes().each(function(a) {
          var r = selectiontable.row(a);
          if(r.data()['table-id'] === row.data()['table-id']){
            r.remove().draw();
          }
        });
      }
  })
};

$('#selectiontable tbody').on('click', 'tr', function () {
  var row = selectiontable.row( this );
  try {
    searchtable.rows().nodes().each(function(a) {
      var r = searchtable.row(a);
      if(r.data()['table-id'] === row.data()['table-id']){
        r.deselect();
      }
    });
    row.remove().draw();
  } catch (e) {}
});



   // // Close all open rows
   //  $('.shown').each( function (i, elem) {
   //    var tblRow = papersTable.row( elem );
   //    elem.classList.remove('shown');
   //    tblRow.child.hide();
   //  });

   //  if ( show ) {
   //      // Open this row
   //      row.child.show();
   //      tr.addClass('shown');
   //  }


// {% if search %}
// search(false, true);
// {% endif %}


</script>
