{% load staticfiles %}

<html>
  {% include 'header.html' %}
  <body>
    <div class="wrapper" align="center">
      {% include 'navbar.html' with navbar=navbarOption %}
      <div id="image-container" width=100%>
        <div class="row">
          <div class="col-md-12">
            Keyword: <b>{{ navbarOption.selectedKeyword }}</b>
            Type: <b>{{ navbarOption.selectedOption.name }}</b>
          </div>
        </div>
{% include 'year_slider.html' %}
      <div class="search-option">
        <div class="checkbox">
          <label>
            <input class="self-cite" type="checkbox" name="self-cite" id="self-cite">
            include self citations
          </label>
        </div>
      </div>

        <span>To Author</span>
        <div align="center">
          <svg id="graph1" width=1800 height=700></svg>
        </div>
        <span>To conference</span>
        <div align="center">
          <svg id="graph2" width=1800 height=700></svg>
        </div>
        <span>To institution</span>
        <div align="center">
          <svg id="graph3" width=1800 height=700></svg>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="{% static 'js/d3.v4.min.js' %}"></script>
<script src="{% static 'js/d3-selection-multi.v1.js' %}"></script>
<script src="{% static 'js/d3-scale-chromatic.v1.min.js' %}"></script>
<script src="{% static 'js/flowerGraph.js' %}"></script>
<script>
option = '{{ navbarOption.selectedOption.id }}';
keyword = '{{ navbarOption.selectedKeyword }}';
author_data = {{ author|safe }}
conf_data = {{ conf|safe }}
inst_data = {{ inst|safe }}
var selfCiteCheckbox = document.getElementById('self-cite');

var width = document.getElementById('image-container').offsetWidth;
drawFlower("#graph1", author_data, 0, width);
drawFlower("#graph2", conf_data, 1, width);
drawFlower("#graph3", inst_data, 2, width);


resubmitButton.addEventListener('click', function(){
  $.ajax({
    type: "POST",
    url: "/resubmit/",
    data: {
      from_year: nodes[0].textContent,
      to_year: nodes[1].textContent,
      option: option,
      selfcite: selfCiteCheckbox.checked,
      keyword: keyword
    },
    success: function(result){
      $("#graph1").empty();
      $("#graph2").empty();
      $("#graph3").empty();



      author_data = result.author;
      conf_data = result.conf;
      inst_data = result.inst;


      drawFlower("#graph1", author_data, 0, width);
      drawFlower("#graph2", conf_data, 1, width);
      drawFlower("#graph3", inst_data, 2, width);

      
    }
  });
});


</script>
