{% load staticfiles %}

<html>
  {% include 'header.html' %}
  <body>
    <div class="wrapper" align="center">
      {% include 'navbar.html' with navbar=navbarOption %}
      <div id="image-container" class="container invisible">
        <div class="row">
          <div class="col-md-12">
            Keyword: <b>{{ navbarOption.selectedKeyword }}</b>
            Type: <b>{{ navbarOption.selectedOption.name }}</b>
          </div>
        </div>
        <span>To Author</span>
        <div class="row">
          <img id="image1" class="fit-wrapper" src=""/>
        </div>
        <span>To conference</span>
        <div class="row">
          <img id="image2" class="fit-wrapper" src=""/>
        </div>
        <span>To institution</span>
        <div class= "row">
          <img id="image3" class="fit-wrapper" src=""/>
        </div>
      </div>
      <div id="table-container" class="container invisible">
        <table id="searchtable" class="row-border hover order-column" cellspacing="0" width="100%">
        </table>
        <input id="load-more-btn" type="submit" value="Expand search" name="load-more">
        <input id="submit-btn" type="submit" name="submit">
      </div>
    </div>
  </body>
</html>
<script src="{% static 'js/auto-complete.min.js' %}"></script>
<script src="{% static 'js/progressbar.js' %}"></script>
<script src="{% static 'js/searchTableConfig.js' %}"></script>
<script>

// ----  data table  ----

var tableContainer = document.getElementById("table-container");

// function to create searchTable
function makeSearchTable(entityType){
  var tableSettings = searchTableConfig[entityType]['tableSettings'];
  return $('#searchtable').DataTable(tableSettings);
}

// create search table
//var searchTable = makeSearchTable('conference');

// update searchTable
function updateTable(data, table, resKeys, clear){
  console.log("updateTable");
  if (clear) {table.clear();}
  for(var i in data) {
    var newRow = {};
    for(var j in resKeys) {
       key = resKeys[j];
       newRow[j] = data[i][key];
    };
    table.row.add(newRow);
  };
  table.draw();
}


// ----  images  ----
var imageContainer = document.getElementById("image-container");
var image1 = document.getElementById("image1");
var image2 = document.getElementById("image2");
var image3 = document.getElementById("image3");


var loadMore = document.getElementById("load-more-btn");
var inputBar = document.getElementById("name-search-bar");
var selfCiteCheckbox = document.getElementById("self-cite");
var searchButton = document.getElementById("search-btn");
var submitButton = document.getElementById("submit-btn");



// ----  listeners  ----

function search(exp, clear){
  var entityType = $(".entity-option:checked").val();
  var responseKeys = searchTableConfig[entityType]['responseKeys'];
  searchTable = makeSearchTable(entityType);
  showProgressBar();
  updateProgressBar();
  $.ajax({
    type: "GET",
    url: "/search",
    data: { // input to the views.py - search()
      keyword: inputBar.value,
      option: $(".entity-option:checked").val(),
      selfcite: selfCiteCheckbox.checked,
      expand: exp
    },
    success: function (result) { // return data if success
      console.log("searchButton success");
      // console.log(result["authors"]);
      updateTable(result["entities"], searchTable, responseKeys, clear);
      tableContainer.classList.remove("invisible");
    },
    error: function (result) {
      console.log("searchButton error");
    }
  });
}


// Search Button event handler
searchButton.addEventListener('click', function(){
  search(false, true); // expand: false, clear: true
});


// Search all event handler
loadMore.addEventListener('click', function(){
  search(true, false); // expand: true, clear: false
});

// Submit Button event handler
submitButton.addEventListener('click', function(){
  var entityType = $(".entity-option:checked").val();
  var idColumnNumber = searchTableConfig[entityType].idCol;
  var selected_indexes = searchTable.rows({selected:true})[0];
  var selected_rows = searchTable.rows( selected_indexes ).data().toArray();
  var selected_ids = [];
  var selected_names = [];
  for (var i in selected_rows) {
    selected_ids.push(selected_rows[i][idColumnNumber]);
    selected_names.push(selected_rows[i][0]);
  }
  console.log(entityType);
  console.log(idColumnNumber);
  console.log(searchTableConfig);
  console.log(searchTableConfig[entityType]);
  console.log(selected_ids);
  $.ajax({
    type: "GET",
    url: "/submit",
    data: { // input to the views.py - search()
      authorlist: selected_ids.join(),
      nameslist: selected_names.join(),
      option: $(".entity-option:checked").val(),
      keyword: inputBar.value,
      selfcite: selfCiteCheckbox.checked
    },
    success: function (result) { // return data if success
      console.log("submitButton success");
      searchTable.clear();
      tableContainer.style.display="none";
      imageContainer.classList.remove("invisible");
      image1.src = result.images[0];
      image2.src = result.images[1];
      image3.src = result.images[2];
    },
    error: function (result) {
      console.log("submitButton error");
    }
  });
});

// ----   auto complete   ----
var ac = new autoComplete({
  selector: '#name-search-bar',
  source: function(term, response){
    $.getJSON(
      '/autocomplete?option='+$(".entity-option:checked").val(),
      { q: term },
      function(data){
        term = term.toLowerCase();
        var choices = data;
        var suggestions = [];
        var maxSuggest = 10;
        for (i = 0; i < choices.length && suggestions.length < maxSuggest; i++) {
          if (~choices[i].toLowerCase().indexOf(term))
              suggestions.push(choices[i]);
        }
        response(suggestions);
      });
  }
});

</script>
