{% load staticfiles %}

<html>
  <head>
    <title>InfluenceMap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/AdminLTE.css' %}" />
    <link rel="stylesheet" href="{% static 'css/auto-complete.css' %}" />
    <link rel="stylesheet" href="{% static 'css/webapp.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>
  </head>
  <body>
<!-- Remove this line, used to test whether table cleared <input id="reveal-table" type="submit" value="reveal table"> -->
    <div class="wrapper" align="center">
      <div class="row">
        <div class="col-md-12">
          <a href="/"><div class="page-title"><b>Project influencemap</b></div></a>
          <span class="text-muted">Constructing maps of intellectual influence using academic data</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="search-bar">
            <div class="input-group input-group-sm" style="width: 300px">
              <input id="name-search-bar" type="text" name="keyword" class="form-control" {% if selectedKeyword %} value="{{ selectedKeyword }}" {% endif %}>
              <span class="input-group-btn">
                <button id="search-btn" type="submit" name="search" value="search" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
            <div class="search-option">
              {% for opt in optionlist %}
              <div class="radio">
                <label>
                  <input onclick="loadAutoComplete(this)" class="entity-option" type="radio" name="option" id="{{opt.id}}" value="{{opt.id}}" {% if opt.id == selectedOption.id %} checked {% endif %}>
                  {{opt.name}}
                </label>
              </div>
              {% endfor %}
            </div>
            <div class="search-option">
              <div class="checkbok">
                <label>
                  <input class="self-cite" type="checkbox" name="self-cite" id="self-cite" {% if selfcite %} checked {% endif %}>
                  include self citations
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="progress-group" class="progress-group invisible" style="width: 400px">
        <span id="progress-text" class="progress-text"></span>
        <span id="progress-number" class="progress-number"></span>
        <div class="progress sm">
          <div id="progress-bar" class="progress-bar progress-bar-aqua" style="width: 0%"></div>
        </div>
      </div>
      <div id="image-container" class="container invisible">
        <div class="row">
          <div class="col-md-12">
            Keyword: <b>{{ selectedKeyword }}</b>
            Type: <b>{{ selectedOption.name }}</b>
          </div>
        </div>
        <span>To Author</span>
        <div class="row">
          <img id="image1" class="fit-wrapper" src=""/>
        </div>
        <span>To conference</span>
        <div class="row">
          <img id="image2" class="fit-wrapper" src=""/>
        </div>
          <span>To institution</span>
        <div class="row">
          <img id="image3" class="fit-wrapper" src=""/>
        </div>
      </div>
      <div id="table-container" class="container invisible">
        <table id="searchtable" class="row-border hover order-column" cellspacing="0" width="100%">
        </table>
        <input id="load-more-btn" type="submit" value="advanced search" name="load-more">
        <input id="submit-btn" type="submit" name="submit">
      </div>
    </div>
  </body>
</html>
<script src="{% static 'js/auto-complete.min.js' %}"></script>
<script src="{% static 'js/progressbar.js' %}"></script>
<script>

// ----  data table  ----

var tableContainer = document.getElementById("table-container");

// table settings depending on entity type
var searchTableConfig = {
  author: {
    columns: [
      { title: "Name", className: "index dt-body-center" },
      { title: "Number of papers", className: "institution dt-body-right" },
      { title: "Affiliations", className: "dt-body-center" },
      { title: "Fields", className: "dt-body-left" },
      { title: "Papers", className: "dt-body-left" },
      { title: "ID"}
      ],
    idColumnNumber: 
      5,
    orderOn: 
      1,
    responseKeys: ['name', 'numpaper', 'affiliation','field','recentPaper','authorID']
  },
  conference: {
    columns: [
      { title: "Name", className: "index dt-body-center" },
      { title: "ID"}
      ],
    idColumnNumber: 
      1,
    orderOn: 
      0,
    responseKeys: ['name', 'confID']
  },
  journal: {
    columns: [
      { title: "Name", className: "index dt-body-center" },
      { title: "ID"}
      ],
    idColumnNumber: 
      1,
    orderOn: 
      0,
    responseKeys: ['name', 'journID']
  },
  institution: {
    columns: [
      { title: "Name", className: "index dt-body-center" },
      { title: "ID"}
      ],
    idColumnNumber: 
      1,
    orderOn:
      0,
    responseKeys: ['name', 'institutionID']
  }
};



// function to create searchTable
function makeSearchTable(entityType){
  var stconfig = searchTableConfig[entityType];
  return $('#searchtable').DataTable({
    "pageLength": 10, // default page
    "lengthMenu": [ 10, 20, 50, 100 ], // page options
    "lengthChange": true,
    "columns": stconfig['columns'],
    "columnDefs": [
      {
        "targets": stconfig['idColumnNumber'],
        "visible": false
      },
    ],
    "select": {
      "style": "multi"
    },
    "language": {
      "emptyTable": "no search result"
    },
    "fixedColumns": true,
    "paging": true,
    "pagingType": "simple_numbers",
    "ordering": true,
    "order": [[ stconfig['orderOn'], "desc" ]],
    "info": true,
    "autoWidth": false,
  });
}


// create search table
//var searchTable = makeSearchTable('conference');
 
// update searchTable
function updateTable(data, table, configDict){
  console.log("updateTable");
  table.clear();
  for(var i in data) {
    var newRow = {};
    for(var j in configDict['responseKeys']) {
       key = configDict['responseKeys'][j];
       newRow[j] = data[i][key];
    };
    table.row.add(newRow);
  };
  table.draw();
}


// ----  images  ----
var imageContainer = document.getElementById("image-container");
var image1 = document.getElementById("image1");
var image2 = document.getElementById("image2");
var image3 = document.getElementById("image3");


var loadMore = document.getElementById("load-more-btn");
var inputBar = document.getElementById("name-search-bar");
var selfCiteCheckbox = document.getElementById("self-cite");
var searchButton = document.getElementById("search-btn");
var submitButton = document.getElementById("submit-btn");



// ----  listeners  ----
// Search Button event handler
searchButton.addEventListener('click', function(){
  var entityType = $(".entity-option:checked").val();
  var entityTableConfig = searchTableConfig[entityType];
  searchTable = makeSearchTable(entityType);
  showProgressBar();
  updateProgressBar();
  $.ajax({
    type: "GET",
    url: "/search",
    data: { // input to the views.py - search()
      keyword: inputBar.value,
      option: $(".entity-option:checked").val(),
      selfcite: selfCiteCheckbox.checked
    },
    success: function (result) { // return data if success
      console.log("searchButton success");
      // console.log(result["authors"]);
      updateTable(result["entities"], searchTable, entityTableConfig);
      tableContainer.classList.remove("invisible");
    },
    error: function (result) {
      console.log("searchButton error");
    }
  });
});

// Search all event handler
loadMore.addEventListener('click', function(){
  var selected_indexes = searchTable.rows({selected:true})[0];
  var selected_rows = searchTable.rows( selected_indexes ).data().toArray();
  var selected_ids = [];
  for (var i in selected_rows) {
    selected_ids.push(selected_rows[i][5]);
  };
  searchTable.clear();
  tableContainer.classList.add("invisible");
  $.ajax({
    type: "GET",
    url: "/loadall",
    data: { // input to the views.py - search()
      keyword: inputBar.value,
      option: $(".entity-option:checked").val(),
      selfcite: selfCiteCheckbox.checked
    },
    success: function (result) { // return data if success
      console.log("loadMore button success");
      // console.log(result["authors"]);
      updateTable(result["authors"]);
      tableContainer.classList.remove("invisible")
    },
    error: function (result) {
      console.log("load more button error");
    }
  });
});

// Submit Button event handler
submitButton.addEventListener('click', function(){
  var selected_indexes = searchTable.rows({selected:true})[0];
  var selected_rows = searchTable.rows( selected_indexes ).data().toArray();
  var selected_ids = [];
  for (var i in selected_rows) {
    selected_ids.push(selected_rows[i][5]);
  }
  console.log(selected_ids);
  $.ajax({
    type: "GET",
    url: "/submit",
    data: { // input to the views.py - search()
      authorlist: selected_ids.join(),
      option: $(".entity-option:checked").val(),
    },
    success: function (result) { // return data if success
      console.log("submitButton success");
      searchTable.clear();
      tableContainer.style.display="none";
      imageContainer.classList.remove("invisible");
      image1.src = result.images[0];
      image2.src = result.images[1];
      image3.src = result.images[2];
    },
    error: function (result) {
      console.log("submitButton error");
    }
  });
});


// ----  auto complete (TO BE FIXED)  ----

var lists = Object()
  {% for opt in optionlist %}
  lists["{{opt.id}}"]= {{opt.list | safe}}
{% endfor %}


function loadAutoComplete(obj){


var lists = Object()
  {% for opt in optionlist %}
    lists["{{opt.id}}"]= {{opt.list | safe}}
  {% endfor %}

  alert(obj.id)

  console.log(lists[obj.id])

  a = new autoComplete({
    selector: '#name-search-bar',
    minChars: 2,
    source: function(term, suggest){
      term = term.toLowerCase();
      var choices = lists[obj.id];
      var suggestions = [];
      var maxSuggest = 10;
      for (i = 0; i < choices.length && suggestions.length < maxSuggest; i++) {
        if (~choices[i].toLowerCase().indexOf(term))
          suggestions.push(choices[i]);
      }
      suggest(suggestions);
    }
  });
}

</script>
