{% load staticfiles %}

<html>
  <head>
    <title>InfluenceMap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/AdminLTE.css' %}" />
    <link rel="stylesheet" href="{% static 'css/auto-complete.css' %}" />
    <link rel="stylesheet" href="{% static 'css/webapp.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper" align="center">
      <div class="row">
        <div class="col-md-12">
          <a href="/"><div class="page-title"><b>Project influencemap</b></div></a>
          <span class="text-muted">Constructing maps of intellectual influence using academic data</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form action="." method="get">
            <div class="search-bar">
              <div class="input-group input-group-sm" style="width: 300px">
                <input id="name-search-bar" type="text" name="keyword" class="form-control" {% if selectedKeyword %} value="{{ selectedKeyword }}" {% endif %}>
                <span class="input-group-btn">
                  <button type="submit" name="search" value="search" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
              <div class="form-group search-option">
                {% for opt in optionlist %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option" id="{{opt.id}}" value="{{opt.id}}" {% if opt.id == selectedOption.id %} checked {% endif %}>
                    {{opt.name}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </form>
        </div>
      </div>
      {% if inflflower %}
      <div class="row">
        <div class="col-md-12">
          Keyword: <b>{{ selectedKeyword }}</b>
          Type: <b>{{ selectedOption.name }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="fit-wrapper" src="{% static inflflower.0 %}"/>
        </div>
        <div class="col-md-6">
          <img class="fit-wrapper" src="{% static inflflower.1 %}"/>
        </div>
      </div>
      {% endif %}
      {% if authors %}
      <div class="container"><form>
          <table class="table table-condensed table-bordered table-hover" style="table-layout: fixed; width: 100%">
           <thead>
              <th>Name</th>
              <th>Number of papers</th>
              <th>Affiliations</th>
              <th>Fields</th>
              <th>Papers</th>
              <th>Include</th>
            </thead>
          {% for auth in authors %}
            <tr>
              <td>{{auth.name}}</td>
              <td>{{auth.numpaper}}</td>
              <td style="word-wrap: break-word">{{auth.affiliation}}</td>
              <td>
                <ol style="margin:0">
                {% for i in auth.field %}
                  <li>{{i}}</li>
                {% endfor %}
                </ol>
              </td>
              <td style="word-wrap: break-word">
                {{auth.mostWeightedPaper}}, {{auth.publishedDate}}
              </td>
              <td><input type="checkbox" name="authorlist" value={{auth.authorID}}></td>
            </tr>
          {% endfor %}
        </table>
        <input type="submit" name="submit">
    </div></form>
    {% endif %}
    </div>
  </body>
</html>
<script src="{% static 'js/auto-complete.min.js' %}"></script>
<script>
var autoCompleteAuthorList = {{ autoCompleteAuthor | safe }}
var searchAutoComplete = new autoComplete({
    selector: '#name-search-bar',
    minChars: 2,
    source: function(term, suggest){
        term = term.toLowerCase();
        var choices = autoCompleteAuthorList;
        var suggestions = [];
        var maxSuggest = 10;
        for (i = 0; i < choices.length && suggestions.length < maxSuggest; i++) {
            if (~choices[i].toLowerCase().indexOf(term))
              suggestions.push(choices[i]);
        }
        suggest(suggestions);
    }
});
</script>
