{% load staticfiles %}

<html>
  {% include 'header.html' %}
  <body>
    <div class="wrapper" align="center">
      {% include 'navbar.html' with navbar=navbarOption %}
      <div id="search-details" class="container">
        <span>Search name:</span><span>Insert search name here</span>
      </div>
      <div id="table-container" class="container">
        <table id="papers-table" class="row-border hover order-column" cellspacing="0" width="100%">
        </table>
        <input id="return-btn" type="submit" value="Return to search">
        <input id="submit-btn" type="submit" name="submit">
      </div>
    </div>

<script src="{% static 'js/papersTableConfig.js' %}"></script>
<script>

var papersTableElement = document.getElementById('papers-table');
var submitButton = document.getElementById('submit-btn');
var returnButton = document.getElementById('return-btn');

var papersTable = $('#papers-table').DataTable(papersTableConfig['author']['tableSettings']);


// update searchTable
function updateTable(data, table, resKeys, clear){
  console.log("updateTable");
  if (clear) {table.clear();}
  for(var i in data) {
    var newRow = {};
    for(var j in resKeys) {
       key = resKeys[j];
       newRow[j] = data[i][key];
    };

    // fields
    fields = "";
    for (var f in newRow[3]) {
      fields += "<li>" + newRow[3][f][0] + " (" + newRow[3][f][1] + ")</li>";
    }
    newRow[3] = "<ul>" + fields + "</ul>";
    // Uppercase first letter
    newRow[4] = newRow[4].charAt(0).toUpperCase() + newRow[4].slice(1);

    table.row.add(newRow);
  };
  table.draw();
};

var selectedInfo = '{{ selectedInfo | safe }}';
var entityType = '{{ entityType }}';

console.log(selectedInfo);

// Submit Button event handler
submitButton.addEventListener('click', function(){
  var entityType = $(".entity-option:checked").val();
  var idColumnNumber = searchTableConfig[entityType].idCol;
  var selected_indexes = searchTable.rows({selected:true})[0];
  var selected_rows = searchTable.rows( selected_indexes ).data().toArray();
  var selected_ids = [];

  var selected_names = [];

  for (var i in selected_rows) {
    selected_ids.push(selected_rows[i][idColumnNumber]);
    selected_names.push(selected_rows[i][0]);
  }
  data = {
      authorlist: selected_ids.join(),
      nameslist: selected_names.join(),
      option: $(".entity-option:checked").val(),
      keyword: inputBar.value,
      selfcite: selfCiteCheckbox.checked,
  }
  window.location.href = "/submit/?" + $.param(data);
});


</script>


  </body>
</html>
~          
