{% load staticfiles %}

<html>
  {% include 'header.html' %}
  <body>
    <div class="wrapper" align="center">
      {% include 'navbar.html' with navbar=navbarOption %}
      <div id="search-details" class="container">
        <span>Search name:</span><span>Insert search name here</span>
      </div>
      <div id="table-container" class="container">
        <table id="papers-table" class="row-border hover order-column" cellspacing="0" width="100%">
        </table>
        <input id="return-btn" type="submit" value="Return to search">
        <input id="submit-btn" type="submit" name="submit">
      <div class="search-option">
        <div class="checkbox">
          <label>
            <input class="self-cite" type="checkbox" name="self-cite" id="self-cite">
            include self citations
          </label>
        </div>
      </div>
     </div>
    </div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/papersTableConfig.js' %}"></script>
<script>

var papersTableElement = document.getElementById('papers-table');
var submitButton = document.getElementById('submit-btn');
var returnButton = document.getElementById('return-btn');
var selfCiteCheckbox = document.getElementById('self-cite');
var papersTable = $('#papers-table').DataTable(papersTableConfig['author']['tableSettings']);


// update searchTable
function updateTable(data, table, resKeys, clear){
  console.log("updateTable");
  if (clear) {table.clear();}
  for(var i in data) {
    var newRow = {};
    for(var j in resKeys) {
       key = resKeys[j];
       newRow[j] = data[i][key];
    };

    // fields
    fields = "";
    for (var f in newRow[3]) {
      field = newRow[3][f].split('_');
      fields += "<li>" + field[0] + " (" + field[1] + ")</li>";
    }
    newRow[3] = "<ul>" + fields + "</ul>";
    // Uppercase first letter

    try {
      newRow[4] = newRow[4].charAt(0).toUpperCase() + newRow[4].slice(1);
    } catch(e){};

    table.row.add(newRow);
  };
  table.draw();
};

var selectedInfo = {{ entityTuples | safe}};
var papersDict = {{ papersDict | safe }};
var entityType = '{{ entityType }}';
var responseKeys = papersTableConfig[entityType]['responseKeys'];
var keyword = '{{ keyword }}';

console.log(selectedInfo);
console.log(papersDict);
updateTable(selectedInfo, papersTable, responseKeys, true);


// for (var i in papersDict)



// Submit Button event handler
submitButton.addEventListener('click', function(){
  console.log('submit button clicked');
  var selected_papers = {};
  $("table.author_papers tr").each(function () {
    if ($(this).find("td input").prop('checked')) {
      if($(this).find("td:eq(4)").text() in selected_papers){
        selected_papers[$(this).find("td:eq(4)").text()].push($(this).find("td:eq(2)").text());
      } else {
        selected_papers[$(this).find("td:eq(4)").text()] = [($(this).find("td:eq(2)").text())];
      }
    }
  });
  
  for (var key in selected_papers) {
    selected_papers[key] = key + ":" + selected_papers[key].join()
  };

  var selected_papers_str = Object.values(selected_papers).join('_entity_');
  console.log(selected_papers_str);
  alert('');
   data = {
       papers: selected_papers_str,
       option: entityType,
       keyword: keyword,
       selfcite: selfCiteCheckbox.checked,
   }
   window.location.href = "/submit/?" + $.param(data);
});





function format (d) {
    // `d` is the original data object for the row

    var eid = d[5];
    var papers = papersDict[eid];
    console.log(papers)
    var out = '<table class="author_papers" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';

    for (var i  in papers) {
        var paper = papers[i].split('_');
        var pid = paper[0];
        var title = paper[1];
        var yr = paper[2];
        out += '<tr>'
            + '<td><input type="checkbox" checked></input></td>'
            + '<td>' + title + '</td>' 
            + '<td style="display: none">'+ pid +'</td>'
            + '<td>'+ yr +'</td>'
            + '<td style="display: none">'+ eid +'</td>'
             + '</tr>';
    }

    out += '</table>';

    return out;
}


// Add event listener for opening and closing details
$('#papers-table tbody').on('click', 'td.details-control', function () {
    var tr = $(this).closest('tr');
    var row = papersTable.row( tr );
    console.log(row.data());
    if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    }
    else {
        // Open this row
        row.child( format(row.data()) ).show();
        tr.addClass('shown');
    }
} );




</script>


  </body>
</html>
~
