{% load staticfiles %}

<html>
  {% include 'header.html' %}
  <body>
    <div class="wrapper" align="center">
      {% include 'navbar.html' with navbar=navbarOption %}
      <div id="search-details" class="container">
        <span>Search name:</span><span>Insert search name here</span>
      </div>
      <div id="table-container" class="container">
        <table id="papers-table" class="row-border hover order-column" cellspacing="0" width="100%">
        </table>
        <input id="return-btn" type="submit" value="Return to search">
        <input id="submit-btn" type="submit" name="submit">
      <div class="search-option">
        <div class="checkbox">
          <label>
            <input class="self-cite" type="checkbox" name="self-cite" id="self-cite">
            include self citations
          </label>
        </div>
      </div>
     </div>
    </div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/papersTableConfig.js' %}"></script>
<script>

var papersTableElement = document.getElementById('papers-table');
var submitButton = document.getElementById('submit-btn');
var returnButton = document.getElementById('return-btn');
var selfCiteCheckbox = document.getElementById('self-cite');
var papersTable = $('#papers-table').DataTable(papersTableConfig['author']['tableSettings']);


// update searchTable
function updateTable(data, table, resKeys, clear){
  console.log("updateTable");
  if (clear) {table.clear();}
  for(var i in data) {
    var newRow = {};
    for(var j in resKeys) {
       key = resKeys[j];
       newRow[j] = data[i][key];
    };

    // fields
    fields = "";
    for (var f in newRow[3]) {
      field = newRow[3][f].split('_');
      fields += "<li>" + field[0] + " (" + field[1] + ")</li>";
    }
    newRow[3] = "<ul>" + fields + "</ul>";
    // Uppercase first letter

    try {
      newRow[4] = newRow[4].charAt(0).toUpperCase() + newRow[4].slice(1);
    } catch(e){};

    table.row.add(newRow);
  };
  table.draw();
};

function capitalise_first_letter(word){
  return word.charAt(0).toUpperCase() + word.slice(1);
}

function title_case(sentence){
  var exceptions = ['a', 'an', 'the', 'and', 'but', 'or', 'for', 'nor','on','at','to','from','by'];
    word_list = sentence.split(' ');
    out = [capitalise_first_letter(word_list[0])];
    for (var i = 1; i < word_list.length; i++){
        var word = word_list[i];
        if (exceptions.indexOf(word) < 0){ 
          out.push(capitalise_first_letter(word))
        } else {
          out.push(word)
        }
    }
    return out.join(" ");
}

var selectedInfo = {{ entityTuples | safe}};
var papersDict = {{ papersDict | safe }};
var entityType = '{{ entityType }}';

var responseKeys = papersTableConfig[entityType]['responseKeys'];

var keyword = '{{ keyword }}';

updateTable(selectedInfo, papersTable, responseKeys, true);

// split and capitalise paper lists
for (var key in papersDict){
  papersDict[key] = papersDict[key].map(function(x){
    var temp_split = x.split("_"); 
    return [title_case(temp_split[0]), temp_split[1], temp_split[2]]
  });
}

var nested_tables = {};

// add all nested data tables
console.log("-----");
papersTable.rows().every(function(rowIdx, tableLoop, rowLoop){
  var eid = this.data()[5];
  var tableId = eid;
  var child_text = "<table id='"+tableId+"' class='author_papers'></table>";
  this.child(child_text).show();
  var tableSelector = "#" + tableId;
  nested_tables[eid] = $(tableSelector).DataTable(papersTableConfig['all']['tableSettings']);
  var childResponseKeys = papersTableConfig['all']['responseKeys'];
  updateTable(papersDict[eid], nested_tables[eid], childResponseKeys, true);
  this.child.hide();
});



// Submit Button event handler
submitButton.addEventListener('click', function(){
  console.log('submit button clicked');
  var selected_papers = {};
  papersTable.rows().every(function(rowIdx, tableLoop, rowLoop){
    var table_dom = this.child().find('table')[0]     
    var table_id = table_dom.id;
    selected_papers[table_id] = [];
    var data_table = nested_tables[table_id];
    data_table.rows().every(function (ri, tl, rl){
      var node = this.node();
      var row_checked = ($(node).find('input').prop('checked'));
      if (row_checked) { selected_papers[table_id].push(this.data()[2]) }
    });
  });

  console.log(selected_papers);
  
  for (var key in selected_papers) {
    if (selected_papers[key].length > 0) {
      selected_papers[key] = key + ":" + selected_papers[key].join() 
    } else {
      delete selected_papers[key];
    }
  };
  console.log(selected_papers);
  var selected_papers_str = Object.values(selected_papers).join('_entity_');
  console.log(selected_papers_str);
   data = {
       papers: selected_papers_str,
       option: entityType,
       keyword: keyword,
       selfcite: selfCiteCheckbox.checked,
   }
  // window.location.href = "/submit/?" + $.param(data);
});


function childrowDataTable(data) {
  var eid = d[5];
  var papers = papersDict[eid];
  var dt = DataTable
}

// Add event listener for opening and closing details
$('#papers-table tbody').on('click', '.outer-table-row', function () {
    var tr = $(this).closest('tr');
    var row = papersTable.row( tr );
    if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    }
    else {
        // Open this row
        row.child.show();
        tr.addClass('shown');
    }
})



</script>


  </body>
</html>
~
