<!-- Coauthor node legend -->
<svg style="display: block; margin:0 auto;" width="450" height="80">
    <g>
        <circle id="coauth-leg-1" class="hl-circle" cx="20" cy="30" r="15" style="fill: rgb(242, 239, 238); stroke-width: 1; stroke: #000; cursor: pointer;"></circle>
        <text class="hl-text node-text" x="45" y="35" text-anchor="left" style="fill: grey;">Co-author of centre node</text>
        <circle id="coauth-leg-2" class="hl-circle" cx="225" cy="30" r="15" style="fill: rgb(242, 239, 238); stroke-width: 1; stroke: #000; cursor: pointer;"></circle>
        <text class="hl-text node-text" x="250" y="35" text-anchor="left" style="fill: black;">Not a co-author of centre node</text>
    </g>
    <g>
    </g>
</svg>
