<!-- Coauthor node legend -->
<svg style="display: block; margin:0 auto;" width="450" height="150">
    <g>
        <circle id="coauth-leg-1" class="hl-circle" cx="75" cy="50" r="15" style="fill: rgb(242, 239, 238); stroke-width: 2; stroke: green; cursor: pointer;"></circle>
        <text class="hl-text node-text" x="110" y="50" text-anchor="left" style="fill: grey;">Co-author of centre node</text>
        <circle id="coauth-leg-2" class="hl-circle" cx="75" cy="100" r="15" style="fill: rgb(242, 239, 238); stroke-width: 2; cursor: pointer;"></circle>
        <text class="hl-text node-text" x="110" y="100" text-anchor="left" style="fill: black;">Not a co-author of centre node</text>
    </g>
    <g>
    </g>
</svg>
