<svg id="graph1" width="900" height="450" style="display: block; margin: 0 auto;">
    <defs>
        <marker id="author_in_1" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_1" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_2" viewBox="0 -5 10 10" refX="13.989175670005599" refY="-0.5185928371007279" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_2" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_3" viewBox="0 -5 10 10" refX="15.421106562912286" refY="-0.704743853178597" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_3" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_4" viewBox="0 -5 10 10" refX="15.913736141464058" refY="-0.7687856983903276" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_4" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_5" viewBox="0 -5 10 10" refX="11.093053902699268" refY="-0.1420970073509049" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_5" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_6" viewBox="0 -5 10 10" refX="17.192848582808445" refY="-0.9350703157650976" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_6" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_7" viewBox="0 -5 10 10" refX="12.842733425251545" refY="-0.369555345282701" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_7" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_8" viewBox="0 -5 10 10" refX="10.910001471044017" refY="-0.1183001912357222" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_8" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_9" viewBox="0 -5 10 10" refX="11.019692746260036" refY="-0.13256005701380463" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_9" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_10" viewBox="0 -5 10 10" refX="11.630924379291088" refY="-0.2120201693078413" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_10" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_11" viewBox="0 -5 10 10" refX="11.692120670954472" refY="-0.21997568722408134" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_11" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_12" viewBox="0 -5 10 10" refX="10.956436714622125" refY="-0.12433677290087627" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_12" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_13" viewBox="0 -5 10 10" refX="13.578233928084952" refY="-0.46517041065104375" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_13" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_14" viewBox="0 -5 10 10" refX="12.410931966168699" refY="-0.31342115560193085" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_14" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_15" viewBox="0 -5 10 10" refX="10.294611136971024" refY="-0.0382994478062332" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_15" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_16" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_16" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_17" viewBox="0 -5 10 10" refX="10.150528024084483" refY="-0.019568643130982902" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_17" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_18" viewBox="0 -5 10 10" refX="10.540598240341872" refY="-0.07027777124444326" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_18" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_19" viewBox="0 -5 10 10" refX="10.552038147497703" refY="-0.07176495917470128" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_19" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_20" viewBox="0 -5 10 10" refX="10.611520097843217" refY="-0.07949761271961807" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_20" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_21" viewBox="0 -5 10 10" refX="10.676307017300026" refY="-0.08791991224900335" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_21" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_22" viewBox="0 -5 10 10" refX="11.123170641245764" refY="-0.14601218336194932" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_22" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_23" viewBox="0 -5 10 10" refX="11.346067907678558" refY="-0.1749888279982125" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_23" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_24" viewBox="0 -5 10 10" refX="11.953969543404362" refY="-0.2540160406425671" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_24" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
        <marker id="author_in_25" viewBox="0 -5 10 10" refX="12.014825497197256" refY="-0.2619273146356433" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(228, 130, 104);"></path>
        </marker>
        <marker id="author_out_25" viewBox="0 -5 10 10" refX="17.692307692307693" refY="-1" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(107, 172, 208);"></path>
        </marker>
    </defs>
    <defs>
        <marker id="author_in_1_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_1_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_2_selected" viewBox="0 -5 10 10" refX="13.989175670005599" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_2_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_3_selected" viewBox="0 -5 10 10" refX="15.421106562912286" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_3_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_4_selected" viewBox="0 -5 10 10" refX="15.913736141464058" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_4_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_5_selected" viewBox="0 -5 10 10" refX="11.093053902699268" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_5_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_6_selected" viewBox="0 -5 10 10" refX="17.192848582808445" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_6_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_7_selected" viewBox="0 -5 10 10" refX="12.842733425251545" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_7_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_8_selected" viewBox="0 -5 10 10" refX="10.910001471044017" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_8_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_9_selected" viewBox="0 -5 10 10" refX="11.019692746260036" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_9_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_10_selected" viewBox="0 -5 10 10" refX="11.630924379291088" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_10_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_11_selected" viewBox="0 -5 10 10" refX="11.692120670954472" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_11_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_12_selected" viewBox="0 -5 10 10" refX="10.956436714622125" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_12_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_13_selected" viewBox="0 -5 10 10" refX="13.578233928084952" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_13_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_14_selected" viewBox="0 -5 10 10" refX="12.410931966168699" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_14_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_15_selected" viewBox="0 -5 10 10" refX="10.294611136971024" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_15_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_16_selected" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_16_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_17_selected" viewBox="0 -5 10 10" refX="10.150528024084483" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_17_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_18_selected" viewBox="0 -5 10 10" refX="10.540598240341872" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_18_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_19_selected" viewBox="0 -5 10 10" refX="10.552038147497703" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_19_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_20_selected" viewBox="0 -5 10 10" refX="10.611520097843217" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_20_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_21_selected" viewBox="0 -5 10 10" refX="10.676307017300026" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_21_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_22_selected" viewBox="0 -5 10 10" refX="11.123170641245764" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_22_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_23_selected" viewBox="0 -5 10 10" refX="11.346067907678558" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_23_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_24_selected" viewBox="0 -5 10 10" refX="11.953969543404362" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_24_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
        <marker id="author_in_25_selected" viewBox="0 -5 10 10" refX="12.014825497197256" refY="0" markerWidth="15" markerHeight="15" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(213, 96, 80);"></path>
        </marker>
        <marker id="author_out_25_selected" viewBox="0 -5 10 10" refX="17.692307692307693" refY="0" markerWidth="0" markerHeight="0" markerUnits="userSpaceOnUse" orient="auto">
            <path d="M0,-5L10,0L0,5" style="fill: rgb(75, 148, 196);"></path>
        </marker>
    </defs>

    <g>
        <path id="1" d="M463,360A494.00404856640597,494.00404856640597 0 0,1 216,359" gtype="author" class="link in" marker-end="url(#author_in_1)" style="stroke-width: 6.61562; stroke: rgb(228, 130, 104);"></path>
        <path id="1" d="M216,359A494.00404856640597,494.00404856640597 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_1)" style="stroke-width: 7.43565; stroke: rgb(107, 172, 208);"></path>
        <path id="2" d="M463,360A494.424918465888,494.424918465888 0 0,1 218,327" gtype="author" class="link in" marker-end="url(#author_in_2)" style="stroke-width: 5.41248; stroke: rgb(228, 130, 104);"></path>
        <path id="2" d="M218,327A494.424918465888,494.424918465888 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_2)" style="stroke-width: 5.41393; stroke: rgb(107, 172, 208);"></path>
        <path id="3" d="M463,360A494.84138872976257,494.84138872976257 0 0,1 224,296" gtype="author" class="link in" marker-end="url(#author_in_3)" style="stroke-width: 7.38624; stroke: rgb(228, 130, 104);"></path>
        <path id="3" d="M224,296A494.84138872976257,494.84138872976257 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_3)" style="stroke-width: 4.57667; stroke: rgb(107, 172, 208);"></path>
        <path id="4" d="M463,360A495.8467505187465,495.8467505187465 0 0,1 234,265" gtype="author" class="link in" marker-end="url(#author_in_4)" style="stroke-width: 7.94781; stroke: rgb(228, 130, 104);"></path>
        <path id="4" d="M234,265A495.8467505187465,495.8467505187465 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_4)" style="stroke-width: 4.33757; stroke: rgb(107, 172, 208);"></path>
        <path id="5" d="M463,360A494.659478833672,494.659478833672 0 0,1 249,236" gtype="author" class="link in" marker-end="url(#author_in_5)" style="stroke-width: 5.15184; stroke: rgb(228, 130, 104);"></path>
        <path id="5" d="M249,236A494.659478833672,494.659478833672 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_5)" style="stroke-width: 2.64478; stroke: rgb(107, 172, 208);"></path>
        <path id="6" d="M463,360A494.84138872976257,494.84138872976257 0 0,1 267,209" gtype="author" class="link in" marker-end="url(#author_in_6)" style="stroke-width: 9; stroke: rgb(228, 130, 104);"></path>
        <path id="6" d="M267,209A494.84138872976257,494.84138872976257 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_6)" style="stroke-width: 4.1484; stroke: rgb(107, 172, 208);"></path>
        <path id="7" d="M463,360A494.9747468305833,494.9747468305833 0 0,1 288,185" gtype="author" class="link in" marker-end="url(#author_in_7)" style="stroke-width: 6.48155; stroke: rgb(228, 130, 104);"></path>
        <path id="7" d="M288,185A494.9747468305833,494.9747468305833 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_7)" style="stroke-width: 2.9773; stroke: rgb(107, 172, 208);"></path>
        <path id="8" d="M463,360A494.84138872976257,494.84138872976257 0 0,1 312,164" gtype="author" class="link in" marker-end="url(#author_in_8)" style="stroke-width: 5.29146; stroke: rgb(228, 130, 104);"></path>
        <path id="8" d="M312,164A494.84138872976257,494.84138872976257 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_8)" style="stroke-width: 2.24487; stroke: rgb(107, 172, 208);"></path>
        <path id="9" d="M463,360A494.659478833672,494.659478833672 0 0,1 339,146" gtype="author" class="link in" marker-end="url(#author_in_9)" style="stroke-width: 5.53011; stroke: rgb(228, 130, 104);"></path>
        <path id="9" d="M339,146A494.659478833672,494.659478833672 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_9)" style="stroke-width: 2.06505; stroke: rgb(107, 172, 208);"></path>
        <path id="10" d="M463,360A495.8467505187465,495.8467505187465 0 0,1 368,131" gtype="author" class="link in" marker-end="url(#author_in_10)" style="stroke-width: 6.03533; stroke: rgb(228, 130, 104);"></path>
        <path id="10" d="M368,131A495.8467505187465,495.8467505187465 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_10)" style="stroke-width: 2.13479; stroke: rgb(107, 172, 208);"></path>
        <path id="11" d="M463,360A494.84138872976257,494.84138872976257 0 0,1 399,121" gtype="author" class="link in" marker-end="url(#author_in_11)" style="stroke-width: 6.1835; stroke: rgb(228, 130, 104);"></path>
        <path id="11" d="M399,121A494.84138872976257,494.84138872976257 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_11)" style="stroke-width: 2.00129; stroke: rgb(107, 172, 208);"></path>
        <path id="12" d="M463,360A494.424918465888,494.424918465888 0 0,1 430,115" gtype="author" class="link in" marker-end="url(#author_in_12)" style="stroke-width: 5.85522; stroke: rgb(228, 130, 104);"></path>
        <path id="12" d="M430,115A494.424918465888,494.424918465888 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_12)" style="stroke-width: 1.52817; stroke: rgb(107, 172, 208);"></path>
        <path id="13" d="M463,360A494,494 0 0,1 463,113" gtype="author" class="link in" marker-end="url(#author_in_13)" style="stroke-width: 7.90177; stroke: rgb(228, 130, 104);"></path>
        <path id="13" d="M463,113A494,494 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_13)" style="stroke-width: 1.71647; stroke: rgb(107, 172, 208);"></path>
        <path id="14" d="M463,360A494.16191678436735,494.16191678436735 0 0,1 495,115" gtype="author" class="link in" marker-end="url(#author_in_14)" style="stroke-width: 7.30395; stroke: rgb(228, 130, 104);"></path>
        <path id="14" d="M495,115A494.16191678436735,494.16191678436735 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_14)" style="stroke-width: 1.19019; stroke: rgb(107, 172, 208);"></path>
        <path id="15" d="M463,360A494.3278264471868,494.3278264471868 0 0,1 526,121" gtype="author" class="link in" marker-end="url(#author_in_15)" style="stroke-width: 5.57415; stroke: rgb(228, 130, 104);"></path>
        <path id="15" d="M526,121A494.3278264471868,494.3278264471868 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_15)" style="stroke-width: 1.05218; stroke: rgb(107, 172, 208);"></path>
        <path id="16" d="M463,360A495.0838312851673,495.0838312851673 0 0,1 557,131" gtype="author" class="link in" marker-end="url(#author_in_16)" style="stroke-width: 5.33401; stroke: rgb(228, 130, 104);"></path>
        <path id="16" d="M557,131A495.0838312851673,495.0838312851673 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_16)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="17" d="M463,360A493.65980188789933,493.65980188789933 0 0,1 586,146" gtype="author" class="link in" marker-end="url(#author_in_17)" style="stroke-width: 5.47548; stroke: rgb(228, 130, 104);"></path>
        <path id="17" d="M586,146A493.65980188789933,493.65980188789933 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_17)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="18" d="M463,360A493.62333818408547,493.62333818408547 0 0,1 613,164" gtype="author" class="link in" marker-end="url(#author_in_18)" style="stroke-width: 5.8342; stroke: rgb(228, 130, 104);"></path>
        <path id="18" d="M613,164A493.62333818408547,493.62333818408547 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_18)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="19" d="M463,360A493.5625593579805,493.5625593579805 0 0,1 637,185" gtype="author" class="link in" marker-end="url(#author_in_19)" style="stroke-width: 5.84456; stroke: rgb(228, 130, 104);"></path>
        <path id="19" d="M637,185A493.5625593579805,493.5625593579805 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_19)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="20" d="M463,360A493.25855289087485,493.25855289087485 0 0,1 658,209" gtype="author" class="link in" marker-end="url(#author_in_20)" style="stroke-width: 5.89824; stroke: rgb(228, 130, 104);"></path>
        <path id="20" d="M658,209A493.25855289087485,493.25855289087485 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_20)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="21" d="M463,360A492.93001531657615,492.93001531657615 0 0,1 676,236" gtype="author" class="link in" marker-end="url(#author_in_21)" style="stroke-width: 5.95644; stroke: rgb(228, 130, 104);"></path>
        <path id="21" d="M676,236A492.93001531657615,492.93001531657615 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_21)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="22" d="M463,360A494,494 0 0,1 691,265" gtype="author" class="link in" marker-end="url(#author_in_22)" style="stroke-width: 6.35002; stroke: rgb(228, 130, 104);"></path>
        <path id="22" d="M691,265A494,494 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_22)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="23" d="M463,360A492.90972804358404,492.90972804358404 0 0,1 701,296" gtype="author" class="link in" marker-end="url(#author_in_23)" style="stroke-width: 6.54143; stroke: rgb(228, 130, 104);"></path>
        <path id="23" d="M701,296A492.90972804358404,492.90972804358404 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_23)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="24" d="M463,360A492.44289008980525,492.44289008980525 0 0,1 707,327" gtype="author" class="link in" marker-end="url(#author_in_24)" style="stroke-width: 7.04789; stroke: rgb(228, 130, 104);"></path>
        <path id="24" d="M707,327A492.44289008980525,492.44289008980525 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_24)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
        <path id="25" d="M463,360A494,494 0 0,1 710,360" gtype="author" class="link in" marker-end="url(#author_in_25)" style="stroke-width: 7.09739; stroke: rgb(228, 130, 104);"></path>
        <path id="25" d="M710,360A494,494 0 0,1 463,360" gtype="author" class="link out" marker-end="url(#author_out_25)" style="stroke-width: 0; stroke: rgb(107, 172, 208);"></path>
    </g>
    <g>
        <circle id="0" class="hl-circle" xpos="463.05" ypos="360" cx="463.05" cy="360" gtype="author" r="15.692307692307693" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="1" class="hl-circle" xpos="216.09" ypos="359.99999999999994" cx="216.09" cy="359.99999999999994" gtype="author" r="15.692307692307693" style="fill: rgb(229, 238, 242); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="2" class="hl-circle" xpos="218.2027770351238" ypos="327.76525156933604" cx="218.2027770351238" cy="327.76525156933604" gtype="author" r="11.989175670005599" style="fill: rgb(242, 239, 238); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="3" class="hl-circle" xpos="224.50495793965172" ypos="296.0820486214814" cx="224.50495793965172" cy="296.0820486214814" gtype="author" r="13.421106562912286" style="fill: rgb(245, 180, 151); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="4" class="hl-circle" xpos="234.88871065101262" ypos="265.4924995431174" cx="234.88871065101262" cy="265.4924995431174" gtype="author" r="13.913736141464058" style="fill: rgb(238, 156, 126); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="5" class="hl-circle" xpos="249.17636628139502" ypos="236.52000000000004" cx="249.17636628139502" cy="236.52000000000004" gtype="author" r="9.093053902699268" style="fill: rgb(232, 138, 110); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="6" class="hl-circle" xpos="267.12345908167663" ypos="209.6602774920063" cx="267.12345908167663" cy="209.6602774920063" gtype="author" r="15.192848582808443" style="fill: rgb(225, 122, 98); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="7" class="hl-circle" xpos="288.42290931817024" ypos="185.37290931817023" cx="288.42290931817024" cy="185.37290931817023" gtype="author" r="10.842733425251545" style="fill: rgb(224, 120, 97); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="8" class="hl-circle" xpos="312.71027749200636" ypos="164.07345908167656" cx="312.71027749200636" cy="164.07345908167656" gtype="author" r="8.910001471044017" style="fill: rgb(214, 97, 81); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="9" class="hl-circle" xpos="339.56999999999994" ypos="146.1263662813951" cx="339.56999999999994" cy="146.1263662813951" gtype="author" r="9.019692746260036" style="fill: rgb(202, 73, 67); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="10" class="hl-circle" xpos="368.54249954311746" ypos="131.8387106510126" cx="368.54249954311746" cy="131.8387106510126" gtype="author" r="9.630924379291088" style="fill: rgb(199, 67, 64); stroke: green; stroke-width: 2; cursor: pointer;"></circle>
        <circle id="11" class="hl-circle" xpos="399.1320486214815" ypos="121.45495793965168" cx="399.1320486214815" cy="121.45495793965168" gtype="author" r="9.692120670954472" style="fill: rgb(190, 53, 57); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="12" class="hl-circle" xpos="430.81525156933606" ypos="115.15277703512379" cx="430.81525156933606" cy="115.15277703512379" gtype="author" r="8.956436714622125" style="fill: rgb(161, 24, 43); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="13" class="hl-circle" xpos="463.05" ypos="113.03999999999999" cx="463.05" cy="113.03999999999999" gtype="author" r="11.578233928084952" style="fill: rgb(155, 20, 41); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="14" class="hl-circle" xpos="495.2847484306639" ypos="115.15277703512379" cx="495.2847484306639" cy="115.15277703512379" gtype="author" r="10.410931966168699" style="fill: rgb(120, 5, 34); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="15" class="hl-circle" xpos="526.9679513785186" ypos="121.45495793965168" cx="526.9679513785186" cy="121.45495793965168" gtype="author" r="8.294611136971024" style="fill: rgb(110, 2, 32); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="16" class="hl-circle" xpos="557.5575004568825" ypos="131.8387106510126" cx="557.5575004568825" cy="131.8387106510126" gtype="author" r="8" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="17" class="hl-circle" xpos="586.53" ypos="146.126366281395" cx="586.53" cy="146.126366281395" gtype="author" r="8.150528024084483" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="18" class="hl-circle" xpos="613.3897225079936" ypos="164.07345908167653" cx="613.3897225079936" cy="164.07345908167653" gtype="author" r="8.540598240341872" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="19" class="hl-circle" xpos="637.6770906818298" ypos="185.37290931817023" cx="637.6770906818298" cy="185.37290931817023" gtype="author" r="8.552038147497703" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="20" class="hl-circle" xpos="658.9765409183234" ypos="209.66027749200632" cx="658.9765409183234" cy="209.66027749200632" gtype="author" r="8.611520097843217" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="21" class="hl-circle" xpos="676.923633718605" ypos="236.51999999999995" cx="676.923633718605" cy="236.51999999999995" gtype="author" r="8.676307017300026" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="22" class="hl-circle" xpos="691.2112893489874" ypos="265.49249954311745" cx="691.2112893489874" cy="265.49249954311745" gtype="author" r="9.123170641245764" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="23" class="hl-circle" xpos="701.5950420603483" ypos="296.0820486214814" cx="701.5950420603483" cy="296.0820486214814" gtype="author" r="9.346067907678558" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="24" class="hl-circle" xpos="707.8972229648762" ypos="327.765251569336" cx="707.8972229648762" cy="327.765251569336" gtype="author" r="9.953969543404362" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="25" class="hl-circle" xpos="710.01" ypos="360" cx="710.01" cy="360" gtype="author" r="10.014825497197256" style="fill: rgb(103, 0, 31); stroke-width: 2; cursor: pointer;"></circle>
    </g>
    <g>
        <text id="0" class="hl-text node-ego-text" gtype="author" x="463.05" y="410" text-anchor="middle" style="fill: black;">John L Hennessy</text>
        <text id="1" class="hl-text node-text" gtype="author" x="189.75666666666666" y="359.99999999999994" text-anchor="end" style="fill: gray;">anoop gupta</text>
        <text id="2" class="hl-text node-text" gtype="author" x="198.28820587378078" y="327.76525156933604" text-anchor="end" style="fill: gray;">anant agarwal</text>
        <text id="3" class="hl-text node-text" gtype="author" x="202.10837323060372" y="296.0820486214814" text-anchor="end" style="fill: gray;">david a patterson</text>
        <text id="4" class="hl-text node-text" gtype="author" x="211.6382346724749" y="265.4924995431174" text-anchor="end" style="fill: gray;">jaswinder pal singh</text>
        <text id="5" class="hl-text node-text" gtype="author" x="234.2817395167163" y="236.52000000000004" text-anchor="end" style="fill: black;">michel dubois</text>
        <text id="6" class="hl-text node-text" gtype="author" x="241.65585487147533" y="209.6602774920063" text-anchor="end" style="fill: gray;">mark d hill</text>
        <text id="7" class="hl-text node-text" gtype="author" x="270.4955047144009" y="185.37290931817023" text-anchor="end" style="fill: black;">david a wood</text>
        <text id="8" class="hl-text node-text" gtype="author" x="298.1329416088634" y="164.07345908167656" text-anchor="end" style="fill: gray;">kourosh gharachorloo</text>
        <text id="9" class="hl-text node-text" gtype="author" x="324.8025325731492" y="146.1263662813951" text-anchor="end" style="fill: gray;">josep torrellas</text>
        <text id="10" class="hl-text node-text" gtype="author" x="352.71556395234626" y="126.8387106510126" text-anchor="end" style="fill: gray;">sarita v adve</text>
        <text id="11" class="hl-text node-text" gtype="author" x="383.19903945849376" y="110.45495793965168" text-anchor="end" style="fill: black;">erik hagersten</text>
        <text id="12" class="hl-text node-text" gtype="author" x="430.81525156933606" y="93.15277703512379" text-anchor="end" style="fill: black;">margaret martonosi</text>
        <text id="13" class="hl-text node-text" gtype="author" x="463.05" y="76.03999999999999" text-anchor="middle" style="fill: black;">per stenstrom</text>
        <text id="14" class="hl-text node-text" gtype="author" x="495.2847484306639" y="93.15277703512379" text-anchor="start" style="fill: black;">trevor n mudge</text>
        <text id="15" class="hl-text node-text" gtype="author" x="540.4786106826017" y="110.45495793965168" text-anchor="start" style="fill: black;">kunle olukotun</text>
        <text id="16" class="hl-text node-text" gtype="author" x="570.5575004568825" y="126.8387106510126" text-anchor="start" style="fill: black;">prabhat mishra</text>
        <text id="17" class="hl-text node-text" gtype="author" x="599.7909152417465" y="146.126366281395" text-anchor="start" style="fill: black;">david b whalley</text>
        <text id="18" class="hl-text node-text" gtype="author" x="627.3267594579195" y="164.07345908167653" text-anchor="start" style="fill: black;">pierfrancesco foglia</text>
        <text id="19" class="hl-text node-text" gtype="author" x="651.6339568041591" y="185.37290931817023" text-anchor="start" style="fill: black;">guang r gao</text>
        <text id="20" class="hl-text node-text" gtype="author" x="673.0365090879183" y="209.66027749200632" text-anchor="start" style="fill: black;">miroslav n velev</text>
        <text id="21" class="hl-text node-text" gtype="author" x="691.0958992152583" y="236.51999999999995" text-anchor="start" style="fill: black;">mahmut t kandemir</text>
        <text id="22" class="hl-text node-text" gtype="author" x="706.1581184604801" y="265.49249954311745" text-anchor="start" style="fill: black;">cosimo antonio prete</text>
        <text id="23" class="hl-text node-text" gtype="author" x="716.9282264336578" y="296.0820486214814" text-anchor="start" style="fill: black;">francky catthoor</text>
        <text id="24" class="hl-text node-text" gtype="author" x="724.284103506777" y="327.765251569336" text-anchor="start" style="fill: black;">roberto giorgi</text>
        <text id="25" class="hl-text node-text" gtype="author" x="726.5023641951419" y="360" text-anchor="start" style="fill: black;">nikil d dutt</text>
    </g>
</svg>
