<!-- Node colour legend -->
<svg style="display: block; margin:0 auto;" width="450" height="150">
    <g>
        <circle id="col-leg-1" class="hl-circle" cx="75" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="col-leg-2" class="hl-circle" cx="125" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="col-leg-3" class="hl-circle" cx="175" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="col-leg-4" class="hl-circle" cx="225" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="col-leg-5" class="hl-circle" cx="275" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="col-leg-6" class="hl-circle" cx="325" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
        <circle id="col-leg-7" class="hl-circle" cx="375" cy="50" r="15" style="fill: rgb(255, 255, 255); stroke-width: 2; cursor: pointer;"></circle>
    </g>
    <g>
        <text class="hl-text node-text" x="75" y="90" text-anchor="left" style="fill: black;">Node's out going (blue) vs incoming (red) influence</text>
    </g>
</svg>

<script>
var colours = d3.interpolateRdBu;
for (var i=1;i<8;i++){
	var circle = document.getElementById('col-leg-'+i);
	circle.style.fill = colours(0.8 - 0.1*i);
}
</script>
