{% load staticfiles %}

<html>
{% include 'header.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% include 'pagehead.html' %}
  {% include 'side-navbar.html' %}
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          {% for category in list %}
          <div class="box box-default box-solid">
            <div class="box-header with-border" id={{category.tab_id}}>
              <h3 class="box-title">{{ category.display }}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <p>{{category.info}}</p>
              <div class="row">
                {% for entity in category.entities %}
                <div class="col-lg-3">
                  <div class="pull-left">
                    <img src="none" class="img-circle" alt="User Image">
                  </div>
                  <div AuthorIds='{{entity.AuthorIds | safe }}' normalizedname="{{ entity.NormalizedName | safe }}">
                    {{entity.DisplayName}}
                    {% for aff in entity.Affiliations %}
                      <li>{{ aff }}</li>
                    {% endfor %}
                    {{entity.Year}}
                    {{entity.Citation}}
                    {% for keyword in entity.Keywords %}
                      <li>{{ keyword }}</li>
                    {% endfor %}
                    <a href="/submit/?id={{ entity.document_id }}">more info</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
  </div>
</body>
<script src="{% static 'js/browseTableConfig.js' %}"></script>
<script type="text/javascript">

    /*  ---    Control tab selection    ---   */
    function openTab(evt, tabId) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the link that opened the tab
      document.getElementById(tabId).style.display = "block";
      evt.currentTarget.className += " active";
    }

    /*  ---    Convert tables to JQuery DataTables    ---   */
    $(document).ready(function(){
      $('table').each(function(a,b){
        var table = $('#' + this.id).DataTable(browseTableConfig['tableSettings']);
        //var table = $('#' + this.id).DataTable();

        // add on click listeners for all table rows to show modal
//        $('#' + this.id + ' tbody').on('click', 'tr', function(){
//          modal.style.display = "block";
//        })
      });
    });
</script>

</html>
