{% load staticfiles %}

<html>
{% include 'header.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% include 'pagehead.html' %}
  {% include 'side-navbar.html' %}

  <div class="align-buttons">
    <table><tr><td>
      <div class="btn-group">
        <button id="btn-align-list" type="button" class="btn btn-default"><i class="fa fa-list-ul"></i></button>
        <button id="btn-align-small" type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
        <button id="btn-align-big" type="button" class="btn btn-default"><i class="fa fa-th-large"></i></button>
      </div>
    </td></tr></table>
  </div>
  {% for category in list %}
  <div class="content-wrapper-browse">
    <section class="content-header">
      <h1>
        {{ category.display }}<br>
        <small>{{category.info}}</small>
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol> -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            {% for entity in category.entities %}
              <div class="info-list col-xs-12 hidden">
                <li>
                  <a href="/submit/?id={{ entity.document_id }}"><b>{{entity.DisplayName}}</b></a>
                  {{entity.Year}}
                  {% for aff in entity.Affiliations %}
                    {{ aff }}
                  {% endfor %}
                </li>
              </div>
              <a href="/submit/?id={{ entity.document_id }}">
                <div class="info-box">
                  <span class="info-box-icon bg-gray">
                    {% if entity.icon_type == "projects" %}<i class="fa fa-rocket"></i>
                    {% elif entity.icon_type == "conferences" or entity.icon_type == "journals" or entity.icon_type == "venues" %}<i class="fa fa-university"></i>
                    {% else %}<i class="fa fa-user"></i>
                    {% endif %}
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text text-truncate" AuthorIds='{{entity.AuthorIds | safe }}' normalizedname="{{ entity.NormalizedName | safe }}">
                      <b>{{entity.DisplayName}}</b><br/>{{entity.Year}}
                    </span>
                  </div>
                  <div class="info-box-more hidden">
                    {% for aff in entity.Affiliations %}
                      <li>{{ aff }}</li>
                    {% endfor %}
                    {% for keyword in entity.Keywords %}
                      <li>{{ keyword }}</li>
                    {% endfor %} <br/>
                    <small>{{entity.Citation}}</small>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
  {% endfor %}
</body>
<script type="text/javascript">
var aligntype = "small";
$(".info-box")
  .mouseover(function() {
    if (aligntype == "small") $(this).find(".info-box-more").removeClass("hidden");
  })
  .mouseout(function() {
    if (aligntype == "small") $(this).find(".info-box-more").addClass("hidden");
  })

$("#btn-align-list").click(function() {
  aligntype = "list";
  $(".info-box").addClass("hidden");
  $(".info-list").removeClass("hidden");
})
$("#btn-align-small").click(function() {
  aligntype = "small";
  $(".info-list").addClass("hidden");
  $(".info-box").removeClass("hidden");
  $(".info-box-more").addClass("hidden");
  $(".info-box-more").css({"position":"absolute", "height":"auto"});
})
$("#btn-align-big").click(function() {
  aligntype = "big";
  $(".info-list").addClass("hidden");
  $(".info-box").removeClass("hidden");
  $(".info-box-more").removeClass("hidden");
  $(".info-box-more").css({"position":"relative", "height":"210px"});
})
</script>
</html>
