{% load staticfiles %}

<html>
{% include 'header.html' %}
<body class="hold-transition skin-blue-light sidebar-mini">
<div class="wrapper">
{% include 'pagehead.html' with navbar=navbarOption %}
  {% include 'search_tables.html' %}
</div>
</body>
</html>
<script>

function goToFlower(data){
  var latestSearchOption = [];
  $(".entity-type-btn.selected-entity").each(function(){
    latestSearchOption.push(this.dataset.entitytype)
  });
   data['option'] = latestSearchOption[0];
   data['keyword'] = latestSearchTerm;
   postData('/submit/', data, "{% csrf_token %}");
}

setContinueFunction(goToFlower);
</script>
