{% load staticfiles %}
<html>
  {% include 'header.html' %}
<body id="top">
  <div class="wrapper row2">
    <h1 id="heading">Save a new cache file</h1>
    <div>
      <label style="float: left; margin-right: 15px;" for="paperAction">Choose action for adding papers to cache</label>
      <select name="paperAction" id="paperAction">
        <option value="cache">cache</option>
        <option value="batch">batch</option>
        <option value="none">none</option>
      </select>
    </div>
    <div id="table_div">
      <table id="info_table">
        <tbody>
          <tr>
            <td width="30%">DisplayName*:</td>
            <td width="70%" class="attribute" contenteditable="true" id="DisplayName"></td>
          </tr>
          <tr>
            <td width="30%"> Type*:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Type"></td>
          </tr>
          <tr>
            <td width="30%">Field:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Field"></td>
          </tr>
          <tr>
            <td width="30%">Affiliations:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Affiliations"></td>
          </tr>
          <tr>
            <td width="30%">Year:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Year"></td>
          </tr>
          <tr>
            <td width="30%">Keywords:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Keywords"></td>
          </tr>
          <tr>
            <td width="30%">Citation:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Citation"></td>
          </tr>
          <tr>
            <td width="30%">Url:</td>
            <td width="70%" class="attribute" contenteditable="true" id="Url"></td>
          </tr>
          <tr>
            <td width="30%">PhotoUrl:</td>
            <td width="70%" class="attribute" contenteditable="true" id="PhotoUrl"></td>
          </tr>
        </tbody>
      </table>
      <button id="previous" class="btn medium">Previous</button>
      <button id="next" class="btn medium">Next</button>
    </div>
  </div>
    {% include 'search_tables.html' %}
</body>
</html>
<script>

////  --------  Define/initialise variables  --------  ////

var prevBtn = document.getElementById('previous');
var nextBtn = document.getElementById('next');

var current;
var current_data;

var cacheKeys = ["DisplayName", "Type", "Field", "Affiliations", "Year", "Keywords", "Citation", "Url", "PhotoUrl"];
var cacheListKeys = ["Affiliations", "Keywords"];

////  --------  Set listeners  --------  ////

$(document).ready(function(){
  setContinueFunction(saveCache);
});

prevBtn.addEventListener('click', function(){
  set_current(current-1)
});

nextBtn.addEventListener('click', function(){
  set_current(current+1)
});


////  --------  Function definitions  --------  ////

// ----  Submit information to be cached  ---- //

function getCacheInfo(){
  var cache = {};
  for (i in cacheKeys){
    var key = cacheKeys[i];
    var value = $('#'+key)[0].textContent;
    if (value !== ""){
      if (key in cacheListKeys){
        cache[key] = splitStrip(value);
      } else {
        cache[key] = value.trim();
      }
    }
  }
  return cache;
}


function resetTable(){
  for (i in cacheKeys){
    var key = cacheKeys[i];
    $('#'+key)[0].textContent = "";
  }
}

function saveCache(data){
  var cache = getCacheInfo();
  var paperAction = document.getElementById('paperAction').value;
  cache["EntityIds"] = data["entities"];
  $.ajax({
    type: "POST",
    url: "/manualcache",
    data: { // input to the views.py - search()
      cache: JSON.stringify(cache),
      paperAction: paperAction
    },
    success: function (result) { // return data if success
      location.reload()
    },
    error: function (result) {
      console.log("error saving cache");
    }
  });
}

function splitStrip(str){
  var split = str.split(',');
  for (i in split){
    split[i] = split[i].trim();
  }
  return split;
}
</script>


