<html>
{% include 'header.html' %}
<body id="top" class="hold-transition skin-custom sidebar-mini">
  <div class="wrapper">
    <header class="main-header header-flower">
      {% include 'pagehead.html' %}
    </header>
    <div class="container-fluid" style="margin-top: 15px; margin-bottom: 15px;">
      <div>
        <select class="form-control" style="width:100px;" name="paperAction" id="paperAction">
          <option value="cache">cache</option>
          <option value="batch">batch</option>
          <option value="none">none</option>
        </select>
      </div>
      <input type="file" id="open-file-input" style="float: right" accept=".csv, .tsv"></input>
      <button id="required_table_div" class="collapsible grey-theme"><i class="fa fa-info-circle"></i>  How to use</button>
      <div class="collapsible-content">
        <p>This page can be used to create flowers to be cached and viewed on the browse page. Follow the steps below to curate and save a flower.</p>
        <ol>
          <li>Fill in the information in the <b>Required information</b>.</li>
          <li>(Optional) Add <b>Additional information</b> that you want to be stored in the cache database.</li>
          <li>(Optional) <b>Manually add</b> relevant MAG paper, author, affiliation, conference, and/or journal ids if you know them.</li>
          <li>(Optional) Use the <b>Search</b> functionality below to find and select the ids of the relevent entities you are interested in.</li>
          <li>Once you have finished adding the information for your record, click <b>Go</b> at the bottom of the Selection table to cache the results.</li>
        </ol>
        Read on for more information on each of the steps described above.
        <h3>Required Information</h3>
        <p>The two required fields are DisplayName and Type. Click on the Required information button below to edit the fields. Click to the right of the field you want to add to enable you to type in the value you are interested in. Read the information below about the use and requirements of the DisplayName and Type before you edit them for the first time.</p>
        <h4>DisplayName</h4>
        <p>The DisplayName is the name that will be displayed on the browse page. It also makes up part of the primary key in the database along with the Type. This means that a DisplayName can only be used once for each Type</p>
        <h4>Type</h4>
        <p>The Type is the field used to filter the caches on the browse page. It must not include any white space. The buttons below the required table are all of the current types being used, and these buttons can be clicked to easily select that type. Unique Types are permitted but they will not automatically be displayed on the Browse page.</p>

        <h3>Additional information</h3>
        <p>You can add additional information relevant to this record by clicking on the Required information button below to reveal an editable table. Any field you add must have its type specified so you can use the buttons below the table to add a field of any of the types listed below. You can also click the buttons above the table to add fields that already exist for some of the cache records.</p>

        <h4>Field naming</h4>
        <p>Field names must not include any whitespace. Field names should be made up of one or few english words written in Pascal Casing which means the first letter of each word is capitalised and there is no space or characters between words.</p>

        <h4>Field values</h4>
        <p>The format of the field values depends on the data type.</p>
        <ul>
          <li><span class="grey-theme">string</span> Fields of this type are stored as strings which means it can be contain letters, numbers and symbols.</li>
          <li><span class="grey-theme">[string]</span> Fields of this type are stored as lists of strings. The values of the list need to be specified by separating each item with a comma. E.g. <i>Asia, Europe, Africa, Australia</i></li>
          <li><span class="grey-theme">integer</span> Fields of this type are stored as integers, i.e. whole numbers. E.G <i>2008</i></li>
          <li><span class="grey-theme">[integer]</span> Fields of this type are store as lists of integers. E.g. <i>1978, 1980, 1999</i></li>
        </ul>

        <h3>Manually add ids</h3>
        <p>If you already know some or all of the PaperIds, JournalIds, AuthorIds, ConferenceIds or AffiliationIds that you wish to add to your cache record then you can add them below by clicking the Manually add ids button to reveal a table. Each of the fields in the table can be either left blank or have a list of integers entered. For example you may enter a list of ids as <i>172394, 823418, 434128</i>.</p>

        <h3>Search</h3>
        <p>Most of the time you won't know the ids that are relevenat to the cache record you are curating, in these cases you need to use the Search tool. You can search for the relevent entities by typing in the name of the entity you are searching for and clicking the magnifying glass or pressing enter. By default the search tool will look for authors but you can change this using the drop down box besides the search bar.</p>

        <p>When the search is completed the results will be displayed in a table immediately below with information such as related affiliations and publication count to help determine whether the result is relevent to your record. It is important to note that there may be more than one relevent result for the same entity and there could actually be dozens. When searching for authors, you can click on the row of a result to reveal the titles of papers linked to that entity.</p>

        <p>You can select a result by clicking the checkbox on the right of a result. The result will then appear on the right hand side in the Selection table. To unselect a row from the selection table, simply click on the row in the Selection table or uncheck the row in the main search results table.</p>
      </div>

      <button id="required_table_div" class="collapsible grey-theme">Required information <span id="existingrecordwarning" style="display: none; float: right"><i color="red" class="fa fa-warning"></i> a record(s) for this type already exists under the name(s) <span id="existingnames"></span></span></button>
      <div class="collapsible-content">
        <table class="table" id="required_info_table">
          <thead>
            <th>Data Type</th>
            <th>Field Name</th>
            <th>Field Value</th>
          </thead>
          <tbody style="width: 100%">
            <tr>
              <td width="40px"><span class="grey-theme">string</span></td>
              <td width="20%">DisplayName:</td>
              <td width="80%" class="attribute" contenteditable="true" id="DisplayName"></td>
            </tr>
            <tr>
              <td width="40px"><span class="grey-theme">string</span></td>
              <td width="20%"> Type:</td>
              <td width="80%" class="attribute" contenteditable="true" id="Type"></td>
            </tr>
          </tbody>
        </table>
        <div style="text-align:center;">
          {% for type in types %}
          <button class="btn btn-xs grey-theme-inverse type-btn" style="margin-bottom:3px;">{{type}}</button>
          {% endfor %}
        </div>
      </div>


      <button id="additional_table_div" class="collapsible grey-theme">Additional information</button>
      <div class="collapsible-content">
        <div style="text-align:center;">
          <button class="btn btn-xs grey-theme-inverse additional-info-field-btn" style="margin-bottom:3px;" data-fieldtype="[string]">Affiliations</button>
          <button class="btn btn-xs grey-theme-inverse additional-info-field-btn" style="margin-bottom:3px;" data-fieldtype="string">Citation</button>
          <button class="btn btn-xs grey-theme-inverse additional-info-field-btn" style="margin-bottom:3px;" data-fieldtype="string">Field</button>
          <button class="btn btn-xs grey-theme-inverse additional-info-field-btn" style="margin-bottom:3px;" data-fieldtype="string">PhotoUrl</button>
          <button class="btn btn-xs grey-theme-inverse additional-info-field-btn" style="margin-bottom:3px;" data-fieldtype="string">Url</button>
          <button class="btn btn-xs grey-theme-inverse additional-info-field-btn" style="margin-bottom:3px;" data-fieldtype="integer">Year</button>
        </div>
        <table id="additional_info_table" class="table">
          <thead>
            <th width="20px"></th>
            <th width="20px">Data Type</th>
            <th width="20%">Field Name</th>
            <th width="80%">Field Value</th>
          </thead>
          <tbody style="100%">
<!--
<tr class="additional-info-row">
<td width="20px"><a class="remove-row-btn" href="#"><i class="fa fa-minus-circle remove-row-icon"></i></a></td>
<td width="20px"><span class="grey-theme">string</span></td>
<td width="20%">Field:</td>
<td width="80%" class="attribute" contenteditable="true" id="Field"></td>
</tr>
-->
</tbody>
</table>
<button id="add_row_btn_str" class="btn w-25 add-row-btn" data-fieldtype="string"><i class="fa fa-plus-circle add-row-icon" aria-hidden="true"></i> Add STRING field</button>
<button id="add_row_btn_int" class="btn w-25 add-row-btn" data-fieldtype="integer"><i class="fa fa-plus-circle add-row-icon" aria-hidden="true"></i> Add INTEGER field</button>
<button id="add_row_btn_str_ls" class="btn w-25 add-row-btn" data-fieldtype="[string]"><i class="fa fa-plus-circle add-row-icon" aria-hidden="true"></i> Add [STRING] field</button>
<button id="add_row_btn_int_ls" class="btn w-25 add-row-btn" data-fieldtype="[integer]"><i class="fa fa-plus-circle add-row-icon" aria-hidden="true"></i> Add [INTEGER] field</button>
</div>

<button id="manual_ids_div" class="collapsible grey-theme">Manually add ids</button>
<table id="entityIdsTable" class="table collapsible-content">
  <thead>
    <th>Data Type</th>
    <th>Field Name</th>
    <th>Field Value</th>
  </thead>
  <tbody style="100%">
    <tr>
      <td width="20px"><span class="grey-theme">[integer]</span></td>
      <td width="20%">PaperIds</td>
      <td width="80%" contenteditable="true" id="PaperIds"></td>
    </tr>
    <tr>
      <td width="20px"><span class="grey-theme">[integer]</span></td>
      <td width="20%">AuthorIds</td>
      <td width="80%" contenteditable="true" id="AuthorIds"></td>
    </tr>
    <tr>
      <td width="20px"><span class="grey-theme">[integer]</span></td>
      <td width="20%">AffiliationIds</td>
      <td width="80%" contenteditable="true" id="AffiliationIds"></td>
    </tr>
    <tr>
      <td width="20px"><span class="grey-theme">[integer]</span></td>
      <td width="20%">ConferenceIds</td>
      <td width="80%" contenteditable="true" id="ConferenceIds"></td>
    </tr>
    <tr>
      <td width="20px"><span class="grey-theme">[integer]</span></td>
      <td width="20%">JournalIds</td>
      <td width="80%" contenteditable="true" id="JournalIds"></td>
    </tr>
  </tbody>
</table>
<button id="previous" class="btn medium">Previous</button>
<button id="next" class="btn medium">Next</button>
</div>
{% include 'search_tables.html' %}
</div>
<style>

.collapsible {
/* background-color: #bbb;
color: #444;*/
cursor: pointer;
padding: 8px 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
margin: 3px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #888;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content { */
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

#add_row_btn {
  width: 23%;
  margin 5px;
  text-align: center;
  font-size: 30px;
}

.add-row-icon {
  color: rgb(0, 204, 0);
  font-size: 14px;
}
.remove-row-icon {
  color: rgb(255, 102, 102);
  font-size: 18px;
}
.add-row-btn:hover {
  color: rgb(51, 204, 51);
}
.remove-row-icon:hover {
  color: rgb(255, 77,77);
  font-size: 18px;
}

.grey-theme-inverse {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #9E9E9E;
  color: #9E9E9E;
}
.grey-theme {
  border-radius: 3px;
  background-color: #9E9E9E;
  border: 1px solid #9E9E9E;
  color: #fff;
}
.inline-li {
  background-color: #aaa;
}

th {
  background-color: #555;
  color: #fff;
}
</style>
</body>
</html>






<script>

////  --------  Define/initialise variables  --------  ////

var prevBtn = document.getElementById('previous');
var nextBtn = document.getElementById('next');
var entityIdsTable = document.getElementById('entityIdsTable');
var current;
var current_data;

var cacheKeys = ["DisplayName", "Type", "Field", "Affiliations", "Year", "Keywords", "Citation", "Url", "PhotoUrl"];
var cacheListKeys = ["Affiliations", "Keywords"];

var add_row_button = document.getElementById("add_row_btn");
var additional_info_table = document.getElementById("additional_info_table").firstElementChild;

var file = document.getElementById("open-file-input");

var displaynamevalue = document.getElementById("DisplayName");
var typevalue = document.getElementById("Type");


////  --------  Set listeners  --------  ////

$(document).ready(function(){


  // Page setup / reset

  $(".additional-info-field-btn").on("click",function(){
    var field_type = this.dataset.fieldtype;
    add_additional_info_row(field_type, this.textContent);
  });

  prevBtn.addEventListener('click', function(){
    set_current(current-1)
  });

  nextBtn.addEventListener('click', function(){
    set_current(current+1)
  });

  $('.add-row-btn').on('click', function(){
    var field_type = this.dataset.fieldtype;
    add_additional_info_row(field_type);
  })

  $(".type-btn").on("click",function(){
    var cache_type = this.textContent;
    $('#Type').text(cache_type);
    check_record();
  });

  $('.collapsible').on("click", function(){
    this.classList.toggle("active");
      var content = this.nextElementSibling;
      var displaytype = content.tagName === "TABLE" ? "table" : "block";
      if (content.style.display === displaytype) {
        content.style.display = "none";
      } else {
        content.style.display = displaytype;
      }
  })


  // Opening data

  file.addEventListener('change', function(){
    if (file.files.length == 1){
      var reader = new FileReader();
      reader.onload = open_file;
      reader.readAsText(file.files[0]);
    } else {
      clear_record();
      current_data = false;
      current = false;
    }
  })


  // Input validation

  displaynamevalue.addEventListener('focusout', check_record);

  typevalue.addEventListener('focusout', check_record);


  // Submit for caching

  setContinueFunction(saveCache);


});


////  --------  Function definitions  --------  ////


/* Contents
-- Page setup / reset
-- Opening data
-- Input validation
-- Submit for caching
-- Utils
*/


// ----  Page setup / reset  ---- //

function add_additional_info_row(field_type, field="", field_value=""){
  var row = '<tr class="additional-info-row" data-fieldtype="'+field_type+'"><td width="20px"><a class="remove-row-btn" href="#"><i class="fa fa-minus-circle remove-row-icon"></i></a></td><td width="20px"><span class="grey-theme">'+field_type+'</span></td><td width="30%" contenteditable="true">'+field+'</td><td width="70%" contenteditable="true">'+field_value+'</td></tr>';
  $(additional_info_table).append(row);

  $('.remove-row-btn').on('click', function(){
    $(this.parentElement.parentElement).remove()
  })
}

function clear_record(){
  var elem_ids_to_clear = ["DisplayName", "Type", "PaperIds", "AuthorIds", "ConferenceIds", "JournalIds", "AffiliationIds"];
  for (var i in elem_ids_to_clear){
    var id = elem_ids_to_clear[i];
    document.getElementById(id).textContent = "";
  }

  // remove additional table rows
  $('.additional-info-row').remove();
  clear_search_tables();
  hidewarning();
}

function set_current(i){
  if (i in current_data){
    clear_record();
    var record = current_data[i];
    if ("DisplayName" in record) displaynamevalue.textContent = record["DisplayName"];
    if ("Type" in record) typevalue.textContent = record["Type"];
    if ("Affiliations" in record) add_additional_info_row("[string]", "Affiliations", record["Affiliations"]);
    if ("Citation" in record) add_additional_info_row("string", "Citation", record["Citation"]);
    if ("Field" in record) add_additional_info_row("string", "Field", record["Field"]);
    if ("PhotoUrl" in record) add_additional_info_row("string", "PhotoUrl", record["PhotoUrl"]);
    if ("Url" in record) add_additional_info_row("string", "Url", record["Url"]);
    if ("Year" in record) add_additional_info_row("integer", "Year", record["Year"]);
    if ("PaperIds" in record) document.getElementById("PaperIds").textContent = record["PaperIds"];
    if ("AuthorIds" in record) document.getElementById("AuthorIds").textContent = record["AuthorIds"];
    if ("ConferenceIds" in record) document.getElementById("ConferenceIds").textContent = record["ConferenceIds"];
    if ("JournalIds" in record) document.getElementById("JournalIds").textContent = record["JournalIds"];
    if ("AffiliationIds" in record) document.getElementById("AffiliationIds").textContent = record["AffiliationIds"];
    current = i;
  }
  if (current-1 in current_data) {prevBtn.disabled = false} else {prevBtn.disabled = true}
  if (current+1 in current_data) {nextBtn.disabled = false} else {nextBtn.disabled = true}
}


// ----  Open data  ---- //

function open_file(e){
  current_data = parse_tsv(e.target.result);
  set_current(0);
}

function parse_tsv(contents){
  contents = contents.replace(/['"]+/g, '');
  var gross_lines = contents.split('\n');

  //no data or not properly formatted
  if (gross_lines.length <=  1){
    return
  } else {
    var header = gross_lines[0].split("\t");
    gross_lines = gross_lines.slice(1,gross_lines.length);
  }
  console.log(header);
  // split lines and keep only ones same length as header
  var lines = [];
  for (var i in gross_lines){
    var line = gross_lines[i].split('\t');
    if (line.length === header.length){lines.push(line)}
  }
  delete gross_lines;

  // no data of the correct length
  if (lines.length === 0){
    return
  }

  // format as list of dictionaries
  var data = [];
  for (var i in lines){
    var line = lines[i];
    var line_dict = {};
    for (var col_num in header){
      var col_name = header[col_num];
      line_dict[col_name] = line[col_num];
    }
    data.push(line_dict);
  }

  return data
}


// ----  Input validation  ---- //

function check_record(){
  // Check for existing records of same type with similar name
  if (displaynamevalue.textContent !== "" && typevalue.textContent!== ""){
    $.ajax({
      type: "POST",
      url: "/check_record",
      data: { // input to the views.py - search()
        type: typevalue.textContent,
        name: displaynamevalue.textContent
      },
      success: function (result) { // return data if success
        if (result.exists){
          console.log("exists");
          console.log(result.names);
          displaywarning(result.names);
        } else {
          console.log("doesnt exist");
          hidewarning();
        }
      },
      error: function (result) {
        console.log("error searching for cache");
      }
    });
  } else {hidewarning()}
}

function displaywarning(names){
  // Display warning for existing cache of similar name
  $("#existingnames").text(names);
  document.getElementById('existingrecordwarning').style.display = "inline";
}

function hidewarning(){
  // Hide warning for existing cache of similar name
  $("#existingnames").text("");
  document.getElementById('existingrecordwarning').style.display = "none";
}

function fieldnamevalidation(field){
  if (field === "") {alert("cannot add a field with no name");throw("field name validation error")}
  if (/\s/g.test(field)) {alert("field name cannot contain white space");throw("field name validation error")}
}

function fieldtypevalidation(fieldtype){
  if (!(fieldtype==="string" || fieldtype==="[string]" || fieldtype==="integer" || fieldtype==="[integer]")) {
    alert("invalid field type " +fieldtype);throw("field type validation error")
  }
}

function fieldvaluevalidation(value, fieldtype){
  if (value === "") {alert("cannot add a field with no value");throw("field value validation error")}
  if (fieldtype === "integer"){
    return(parseInt(value));
  }
  if (fieldtype === "[integer]"){
    return(value.split(",").map(num => parseInt(num, 10)));
  }
  if (fieldtype === "[string]"){
    return(value.split(",").map(x => x.trim()));
  }
  else{
    return(value);
  }
}


// ----  Submit information to be cached  ---- //

function getCacheInfo(){
  var cache = {};
  cache["DisplayName"] = document.getElementById("DisplayName").textContent;
  cache["Type"] = document.getElementById("Type").textContent;

  $('.additional-info-row').each(function(){
    var rowcells = $(this).find('td');
    var fieldname = rowcells[2].textContent.trim();
    var fieldvalue = rowcells[3].textContent.trim();
    var fieldtype = this.dataset.fieldtype;
    fieldtypevalidation(fieldtype);
    fieldnamevalidation(fieldname);
    cache[fieldname] = fieldvaluevalidation(fieldvalue, fieldtype);
  });

  cache["EntityIds"] = {};
  var entityIds = ["PaperIds","AuthorIds","AffiliationIds","ConferenceIds","JournalIds"];
  for (i in entityIds){
    var entityIdsKey = entityIds[i]
    cache["EntityIds"][entityIdsKey] = [];
    var ids = splitStrip(document.getElementById(entityIdsKey).textContent);
    for (j in ids){
      var id = ids[j];
      if (isNumeric(id)){
        console.log(cache);console.log(entityIdsKey);console.log(entityIds);console.log(parseInt(id));
        cache["EntityIds"][entityIdsKey].push(id);
      }
    }
  }
  return cache;
}

function saveCache(data){
  var cache = getCacheInfo();
  var paperAction = document.getElementById('paperAction').value;
  for (key in data["entities"]){
    cache["EntityIds"][key] = Array.from(new Set(cache["EntityIds"][key].concat(data["entities"][key])))
  }
  console.log(cache);
  $.ajax({
    type: "POST",
    url: "/manualcache",
    data: { // input to the views.py - search()
      cache: JSON.stringify(cache),
      paperAction: paperAction
    },
    success: function (result) { // return data if success
      alert("success");//location.reload()
      clear_record();
      if (current_data !== false){
        set_current(current+1);
      }
    },
    error: function (result) {
      console.log("error saving cache");
    }
  });
}


// ----  Utils  ---- //

function splitStrip(str){
  var split = str.split(',');
  for (i in split){
    split[i] = split[i].trim();
  }
  return split;
}

function isNumeric(n) {
  return !isNaN(parseInt(n)) && isFinite(n);
}

</script>
