<html>
{% include 'header.html' %}
<body class="hold-transition skin-custom sidebar-mini">
<div class="wrapper">
  <header class="main-header header-flower">
    {% include 'pagehead.html' %}
  </header>
  <aside class="main-sidebar main-sidebar-wide" style="background-color: #fff;">
    <section class="sidebar">
      <div id="statpane">
        {% include 'statchart.html' with stats=stats curated=curated yearSlider=yearSlider url_base=session.url_base %}
      </div>
    </section>
  </aside>
  <div class="content-wrapper content-wrapper-narrow">
    <div id="flower-container" style="height:860px;">
      <ul class="nav nav-tabs" style="float:right">
        <li class="active"><a class="btn tab-btn" href="#tab-author" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;Author</a></li>
        <li><a class="btn tab-btn" href="#tab-conference" data-toggle="tab"><i class="fa fa-book"></i>&nbsp;Venue</a></li>
        <li><a class="btn tab-btn" href="#tab-institution" data-toggle="tab"><i class="fa fa-university"></i>&nbsp;Institution</a></li>
        <li><a class="btn tab-btn" href="#tab-fos" data-toggle="tab"><i class="fa fa-graduation-cap"></i>&nbsp;Topic</a></li>
      </ul>
      <!-- Tab content -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane tab-flower active" id="tab-author">
          <h4>To Author</h4>
          <div align="center">
            <svg id="graph1" width=1800 height=800></svg>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-flower" id="tab-conference">
          <h4>To Venue</h4>
          <div align="center">
            <svg id="graph2" width=1800 height=800></svg>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-flower" id="tab-institution">
          <h4>To Institution</h4>
          <div align="center">
            <svg id="graph3" width=1800 height=800></svg>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-flower" id="tab-fos">
          <h4>To Topic</h4>
          <div align="center">
            <svg id="graph4" width=1800 height=800></svg>
          </div>
        </div>
      </div>
    </div>
    {% if curated %}
    <div id="disqus_thread"></div>
    {% endif %}
  </div>
</div>

<!-- Node information popup -->
<div id="node_info_modal" class="node_info_modal">
  <div id="node_info_container" class="node_info_container">
    <span class="close">&times;</span>
    <div id="node_info_content">
    </div>
  </div>
</div>
</body>
</html>
<script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-selection-multi.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-scale-chromatic.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/flowerGraph.js') }}"></script>
<script>
option = '{{ navbarOption.selectedOption.id }}';
keyword = '{{ navbarOption.selectedKeyword }}';
author_data = {{ author|safe }}[0]
conf_data = {{ conf|safe }}[0]
inst_data = {{ inst|safe }}[0]
fos_data = {{ fos|safe }}[0]
session = {{ session|safe }}

start_petals = parseInt($("#num-petals").val());
start_order = $("#petal-order").val();

var selfCiteCheckbox = document.getElementById('self-cite');
var coauthorCheckbox = document.getElementById('coauthor');
var referenceCheckbox = document.getElementById('reference');

var width = document.getElementById('flower-container').offsetWidth;
drawLegend();
drawFlower("#graph1", author_data, 0, width, start_petals, start_order);
drawFlower("#graph2", conf_data, 1, width, start_petals, start_order);
drawFlower("#graph3", inst_data, 2, width, start_petals, start_order);
drawFlower("#graph4", fos_data, 3, width, start_petals, start_order);

// Reorder the layering
reorder_all_layering(start_order);

// Disable bars
disableBloomNumBars(start_petals, 2000);

// Get the modal
var  node_info_modal = document.getElementById('node_info_modal');


// Get the <span> element that closes the modal
var node_info_close = document.getElementsByClassName("close")[0];


// When the user clicks on <span> (x), close the modal
node_info_close.onclick = function() {
    node_info_modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == node_info_modal) {
        node_info_modal.style.display = "none";
    }
}
</script>

{% if curated %}
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var page_url = '{{ request.build_absolute_uri }}';
var page_identifier = '{{ request.get_full_path }}';
var disqus_config = function () {
  this.page.url = page_url.split("&amp;pmin")[0];  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = page_identifier.split("&amp;pmin")[0]; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  // console.log(this.page.url, this.page.identifier)
};
(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://influencemap-ml.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
