<html>
  {% include 'header.html' %}
  <body class="hold-transition skin-custom sidebar-mini">
  <div class="wrapper">
    <header class="main-header header-flower">
      {% include 'pagehead.html' %}
    </header>
    <aside class="main-sidebar main-sidebar-wide" style="background-color: #fff;">
      <section class="sidebar">
        <div id="statpane">
          {% include 'statchart.html' with stats=stats curated=curated yearSlider=yearSlider url_base=session.url_base %}
        </div>
      </section>
    </aside>

    <div class="content-wrapper content-wrapper-narrow">
      <div id="flower-container" style="height:860px;">
        <ul class="nav nav-tabs" style="float:right">
          <li class="active"><a class="btn tab-btn" href="#tab-no-info" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;Author</a></li>
          <li><a class="btn tab-btn" href="#tab-no-info" data-toggle="tab"><i class="fa fa-book"></i>&nbsp;Venue</a></li>
          <li><a class="btn tab-btn" href="#tab-no-info" data-toggle="tab"><i class="fa fa-university"></i>&nbsp;Institution</a></li>
          <li><a class="btn tab-btn" href="#tab-no-info" data-toggle="tab"><i class="fa fa-graduation-cap"></i>&nbsp;Topic</a></li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane tab-flower active" id="tab-no-info">
            <!-- <h4>To Author</h4> -->
            <div align="center" style="padding-top:25%">
              <h4>Sorry, we cannot find the information for the entity searched.</h4>
            </div>
          </div>
        </div>
      </div>
      {% if curated %}
      <div id="disqus_thread"></div>
      {% endif %}
    </div>
  </div>
</html>
