{% load staticfiles %}

<div class="search-bar" align="center">
  <div class="row" style="width: 600px">
    <div class="col-xs-3">
      <select id="entity-type-option" class="form-control select" name="type" style="width:150px; height:40px">
        {% for opt in navbar.optionlist %}
          <option class="entity-option" value="{{opt.id}}" {% if opt.id == navbar.selectedOption.id %} selected {% endif %}>{{ opt.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-xs-9">
      <div class="input-group input-group-sm" style="width: 450px; height: 40px;">
        <input id="name-search-bar" type="text" name="keyword" class="form-control" {% if navbar.selectedKeyword %} value="{{ navbar.selectedKeyword }}" {% endif %}>
        <span class="input-group-btn">
          <button id="search-btn" type="submit" name="search" value="search" class="btn btn-primary btn-flat" style="width:40px; font-size:20px"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/auto-complete.min.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
