{% load staticfiles %}
<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><i class="fa fa-asterisk"></i></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg" style="background-color:none"><b>Influence Map</b></span>
    <!-- <p>Mapping intellectual influence using citation data</p> -->
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    {% include 'searchbar.html' with navbar=navbarOption %}
  </nav>
</header>
