{% load staticfiles %}
<a href="/" class="logo">
  <span class="logo-mini"><i class="fa fa-asterisk"></i></span>
  <span class="logo-lg">
    <img src="{% static 'images/nxicon1.png'%}">
    <b>Influence Map</b></span>
</a>
<nav class="navbar navbar-static-top">
  <div class="pull-right" style="margin-right: 20px">
    <a href="/browse" class="btn btn-flat bg-white">Gallery</a>
    <a href="/create" class="btn btn-flat bg-white">Create</a>
    <a href="https://github.com/csmetrics/influencemap" class="btn btn-flat bg-white">About</a>
  </div>
</nav>
