<a href="/" class="logo">
  <span class="logo-mini"><i class="fa fa-asterisk"></i></span>
  <span class="logo-lg">
    <img src="{{ url_for('static', filename='images/influencemap_logo_network.svg') }}">
    <b>Influence Flower</b></span>
</a>
<nav class="navbar navbar-static-top">
  <div class="pull-right">
    <a href="/browse" class="btn btn-flat bg-white">Gallery</a>
    <a href="/create" class="btn btn-flat bg-white">Create</a>
    <a href="https://github.com/csmetrics/influencemap#readme" class="btn btn-flat bg-white" target="_blank">About</a>
  </div>
</nav>
