{% load staticfiles %}
<!-- Content Wrapper. Contains page content -->

<div class="searchtables-container">
  <div class="left-col col-sm-9">
    <div class="search-div">
      <div class="entity-type-div col-md-8">
          <button class="btn-sm entity-type-btn selected-entity"  data-entitytype="author">Authors</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="institution">Affiliations</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="conference">Conferences</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="journal">Journals</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="paper">Papers</button>
      </div>
        <div class="input-group searchbar">
          <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="name-search-bar" type="text" class="form-control" value="" placeholder="Search">
          <span class="input-group-btn">
            <button id="search-btn" type="button" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
    </div>
    <div id="searchtable-container" style="padding: 0px 30px">
      <div id="loading" style="display: none"></div>
      <table id="searchtable" class="row-border hover order-column" cellspacing="0" width="100%"></table>
    </div>
  </div>
  <div class="right-col col-sm-3">
    <table id="selectiontable" class="row-border"></table>
    <input class="inputbar" type="text" placeholder="Name your flower..."/>
    <input id="continue-btn" class="btn medium" type="submit" value="Go" float="bottom" style="width:100%; margin-top:10px" />
  </div>
</div>


<style>
.searchtables-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.right-col {
  height: 100%;
  border-left: 1px solid #999;
}

.left-col {
  height: 100%;
  padding: 0px;
}

div.searchbar {
  background-color: #fff;
  border-radius: 10px;
  color: #999;
  border: 1px solid #999;
}

.searchbar input {
    float: left;
    background: #fff;
    border-radius: 10px 0 0 10px;
    border: none;
}

/* Form submit button */
.searchbar button {
    background: #fff;
    color: #999;
}  

#search-btn {
  background: transparent;
}

.search-div {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #9E9E9E;
}

.grey-theme-inverse, .entity-type-btn {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #9E9E9E;
  color: #9E9E9E;
}

.grey-theme, .selected-entity {
  border-radius: 10px;
  background-color: #9E9E9E;
  border: 1px solid #9E9E9E;
  color: #fff;
}

.btn:focus, .btn.focus {
}

table.dataTable thead {
  display: none;
}

table.dataTable.no-footer {
  border-bottom: 0px solid #fff;
}


.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px solid #111;
}

.inputbar {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #9E9E9E;
  color: #9E9E9E;
  width: 100%;
}

#continue-btn {
  background-color: #FFE39B;
}

</style>

<script>
var entitytypebtns = $(".entity-type-btn");
entitytypebtns.on("click",function(){
  this.classList.toggle("selected-entity");
}); 
</script>

<script src="{% static 'js/searchTableConfig.js' %}"></script>
<script src="{% static 'js/selectionTableConfig.js' %}"></script>
<script src="{% static 'js/search_tables.js' %}"></script>
