{% load staticfiles %}
<!-- Content Wrapper. Contains page content -->

<div class="searchtables-container">
  <div class="left-col col-sm-9">
    <div class="search-div">
      <div class="entity-type-div col-md-8">
          <button class="btn-sm entity-type-btn"  data-entitytype="author"><i class="fa fa-user"></i>  Authors</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="institution"><i class="fa fa-university"></i>  Institutions</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="conference"><i class="fa fa-building"></i>  Conferences</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="journal"><i class="fa fa-book"></i>  Journals</button>
          <button class="btn-sm entity-type-btn"  data-entitytype="paper"><i class="fa fa-file"></i>  Papers</button>

      </div>
      <div class="input-group searchbar">
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="name-search-bar" type="text" class="form-control" value="" placeholder="Search">
        <span class="input-group-btn">
          <button id="search-btn" type="button" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div id="searchtable-container" style="padding: 0px 30px">
      <div style="float:right;padding:15px 0">
        <i id="instruction-activate" class="far fa-question-circle" style="font-size:20px;font-style:normal;"></i>
      </div>
      <div id="loading" style="display: none"></div>
      <table id="searchtable" class="row-border hover order-column" cellspacing="0" width="100%"></table>
    </div>
  </div>
  <div class="right-col col-sm-3">
    <table id="selectiontable" class="row-border"></table>
    <input id="flowername" class="inputbar" type="text" placeholder="Name your flower..."/>
    <input id="continue-btn" class="btn btn-warning" type="submit" value="Go" float="bottom" style="width:100%; margin-top:10px" />
    <div id="empty_selection_alert" class="alert alert-info" style="display: none; z-index: 1000;">
      Unable to make a flower before making one or more selections. Click on <i class="far fa-question-circle" style="font-style: normal;"></i> to see how to search!
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="instructionModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close-modal">&times;</span>

  <h3><b>Create your own flowers</b></h3>
  <ol><li>Select the type(s) of entity to search and then use the search bar<br/><br/><img src='/static/images/2017_turing_winners_search.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>Select the checkboxes on the right hand side of a row in the results to add that entity to your flower<br/><br/><img src='/static/images/2017_turing_winners_select.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>Repeat until you have selected all entities you want included in your flower<br/><br/><img src='/static/images/2017_turing_winners_select2.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>You can remove a selection by unticking the checkbox or clicking on the selection on the right hand table<br/><br/><img src='/static/images/2017_turing_winners_unselect.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>(Optional) Name your flower.<br/><br/><img src='/static/images/2017_turing_winners_name.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>Press <b>Go</b> to create your flower, but be patient, computation time depends on the selected entities<br/><br/><img src='/static/images/go.png' style="border:none"/></li></ol>

  </div>

</div>


<style>
.searchtables-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#searchtable td,
#selectiontable td {
  font-size: 16px;
}
#searchtable td i,
#selectiontable td i {
  font-size: 20px;
  float: left;
  padding: 10px;
}
#searchtable td p,
#selectiontable td p {
  padding: 2px 10px;
}

.right-col {
  height: 100%;
  border-left: 1px solid #eee;
}

.left-col {
  height: 100%;
  padding: 0px;
}

div.searchbar {
  background-color: #fff;
  border-radius: 10px;
  /* color: #999; */
  height: 46px;
  border: 1px solid #ddd;
}

.searchbar input {
  float: left;
  font-size: 16px;
  background: #fff;
  padding: 10px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border: none;
}

/* Form submit button */
.searchbar button {
  background: #fff;
  /* color: #999; */
}

#search-btn {
  background: transparent;
}

.search-div {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.grey-theme-inverse, .entity-type-btn {
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  height: 46px;
  border: 1px solid #ddd;
  /* color: #999; */
}

.grey-theme, .selected-entity {
  border-radius: 10px;
  background-color: #49DCB1;
  border: 1px solid #ddd;
  /* color: #fff; */
}

.btn:focus, .btn.focus {
}

table.dataTable thead {
  display: none;
}

table.dataTable.no-footer {
  border-bottom: 0px solid #fff;
}


.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px solid #111;
}

.inputbar {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #d2d6de;
  /* color: #9E9E9E; */
  font-size: 16px;
  height: 46px;
  width: 100%;
}

#continue-btn {
  background-color: #EEB868;
  width: 240px;
  font-size: 16px;
  height: 46px;
  border-radius: 10px;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    z-index: 300;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 950px; /* Could be more or less, depending on screen size */
}
.modal-content img {
  border: 1px solid #bbb;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


</style>

<script>
var entitytypebtns = $(".entity-type-btn");
entitytypebtns.on("click",function(){
  this.classList.toggle("selected-entity");
});
</script>

<script src="{% static 'js/searchTableConfig.js' %}"></script>
<script src="{% static 'js/selectionTableConfig.js' %}"></script>
<script src="{% static 'js/search_tables.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>

<script>

var btn = document.getElementById("instruction-activate");
var modal = document.getElementById("instructionModal");

make_modal(modal,btn);


</script>
