<div class="search-bar" align="center">
  <div class="input-group input-group-lg">
    <div class="input-group-addon bg-gray" style="width:120px; padding:0">
      <select id="entity-type-option" class="form-control entity-type-select" name="type">
        {% for opt in navbar.optionlist %}
          <option class="entity-option" value="{{opt.id}}" {% if opt.id == navbar.selectedOption.id %} selected {% endif %}>{{ opt.name }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- /btn-group -->
    <input id="name-search-bar" type="text" class="form-control" value="">
    <span class="input-group-btn">
      <button id="search-btn" type="button" class="btn btn-info btn-flat">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>
<script src="{{ url_for('static', filename='js/auto-complete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
