<div class="search-page" style="display: flex; gap: 20px; padding: 20px;">
  <!-- Left Column -->
  <div class="left-col col-sm-9" style="background-color: #f9f9f9; border-radius: 8px;">
    <div class="search-div row" style="margin: 0;">
      <div class="entity-type-div col-md-8 col-sm-12">
        <!-- Entity Buttons -->
        <button class="btn-sm entity-type-btn selected-entity" data-entitytype="author">
          <i class="fa fa-user"></i> Authors
        </button>
        <button class="btn-sm entity-type-btn" data-entitytype="institution">
          <i class="fa fa-university"></i> Institutions
        </button>
        <button class="btn-sm entity-type-btn" data-entitytype="source">
          <i class="fa fa-book"></i> Sources
        </button>
        <button class="btn-sm entity-type-btn" data-entitytype="paper">
          <i class="fa fa-file"></i> Papers
        </button>
      </div>

      <!-- Search Bar -->
      <div class="input-group searchbar col-md-4 col-sm-12" style="display: flex; gap: 5px;">
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="name-search-bar" 
          type="text" class="form-control" 
          placeholder="Search for entities...">
        <button id="search-btn" type="button" class="btn btn-flat" >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <!-- Search Table -->
    <div class="searchtable-container">
      <div style="float: right; margin-bottom: 15px;">
        <i id="instruction-activate" class="far fa-question-circle"></i>
      </div>
      <div id="loading" style="display: none; text-align: center;">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <table id="searchtable" class="row-border hover order-column" cellspacing="0" width="100%"></table>
    </div>
  </div>

  <!-- Right Column -->
  <div class="right-col col-sm-3">
    <!-- Selection Table -->
    <table id="selectiontable" class="row-border" style="width: 100%; margin-bottom: 20px;"></table>

    <!-- Empty Selection Alert -->
    <div id="empty_selection_alert" class="alert">
      Unable to make a flower before making one or more selections. Click on 
      <i class="far fa-question-circle" style="font-style: normal;"></i> to see how to search!
    </div>

    <div class="bottom-fixed">
      <!-- Name Input -->
      <input id="flowername" class="inputbar" type="text" placeholder="Name your flower...">
      <!-- Submit Button -->
      <input id="continue-btn" class="btn" type="submit" value="Go" >
    </div>
  </div>
</div>


<!-- The Modal -->
<div id="instructionModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close-modal">&times;</span>

  <h3><b>Create your own flowers</b></h3>
  <ol><li>Select the type(s) of entity to search and then use the search bar<br/><br/><img src='/images/2017_turing_winners_search.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>Select the checkboxes on the right hand side of a row in the results to add that entity to your flower<br/><br/><img src='/images/2017_turing_winners_select.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>Repeat until you have selected all entities you want included in your flower<br/><br/><img src='/images/2017_turing_winners_select2.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>You can remove a selection by unticking the checkbox or clicking on the selection on the right hand table<br/><br/><img src='/images/2017_turing_winners_unselect.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>(Optional) Name your flower.<br/><br/><img src='/images/2017_turing_winners_name.gif'/><br/><br/><br/><br/><br/><br/></li>
  <li>Press <b>Go</b> to create your flower, but be patient, computation time depends on the selected entities<br/><br/><img src='/images/go.png' style="border:none"/></li></ol>

  </div>

</div>


<script>
var entitytypebtns = $(".entity-type-btn");
entitytypebtns.on("click",function(){
  this.classList.toggle("selected-entity");
});
</script>

<script src="{{ url_for('static', filename='js/searchTableConfig.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectionTableConfig.js') }}"></script>
<script src="{{ url_for('static', filename='js/search_tables.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

<script>

var btn = document.getElementById("instruction-activate");
var modal = document.getElementById("instructionModal");

make_modal(modal,btn);


</script>
