<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <!-- <li class="header">MAIN NAVIGATION</li> -->
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>People</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Turing Award winners</a></li>
          <li><a href="index2.html"><i class="fa fa-circle-o"></i> Some other winners</a></li>
          <li><a href="index2.html"><i class="fa fa-circle-o"></i> Some other researchers</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-map-signs"></i>
          <span>Venues</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> PLDI</a></li>
          <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> ICML</a></li>
          <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Another venue</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-bank"></i> <span>Organizations</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> SIGMM</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Organization 1</a></li>
          <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Organization 2</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-bookmark"></i> <span>What else</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Else 1</a></li>
          <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Else 2</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
