<aside class="main-sidebar main-sidebar-dark">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->

    <ul class="sidebar-menu" data-widget="tree">
      {% for group in browse_groups %}
      <li class="treeview">
        <a class="nav-item" data-displayname="{{group.display}}" data-level="g" href="#">
          <!--<i class="fa fa-user"></i>-->
          <span>{{ group.display }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% for subgroup in group.subgroups %}
          <li class="treeview">
              {% if subgroup.type == "inner" %}
              <a href="#" class="nav-item" data-displayname="{{subgroup.display}}" data-level="sg" data-g="{{group.display}}">
                <i class="fa fa-user"></i>
                {{ subgroup.display }}
              </a>
            {% endif %}
            {% if subgroup.type == "outer" %}
            <a href="#" class="nav-item" data-displayname="{{subgroup.display}}" data-level="sg" data-g="{{group.display}}">
              <i class="fa fa-circle-o"></i>
              {{ subgroup.display }}
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              {% for subsubgroup in subgroup.subgroups %}
                <li><a href="#" class="nav-item" data-displayname="{{subsubgroup.display}}" data-level="ssg" data-g="{{group.display}}" data-sg="{{subgroup.display}}"><i class="fa fa-user"></i>{{ subsubgroup.display }}</a></li>
              {% endfor %}
            </ul>
           {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}


  </section>
  <!-- /.sidebar -->
</aside>
