/* Common color variables */
:root {
  --primary-color: #189AB4; /* Main button and primary highlight color */
  --secondary-color: #456990; /* Logo and general text color */
  --navbar-color: #F2F2F2; /* Background color for the navigation bar */
  --highlight-color: #EEB868; /* Highlight color for interactive elements */
  --text-color: #333333; /* General text color */
  --border-color: #CCCCCC; /* Border color */
  --background-color: #FFFFFF; /* Page background color */
  --background-dark-color: #222d32; /* Page background color */
}

.content-wrapper-home { background-color: #fff; }
.content-wrapper-home,
.main-footer-home {
  margin-left: 0;
}
.main-sidebar-wide { width: 440px; background-color: var(--background-color); }
.main-sidebar-dark { width: 270px; background-color: var(--background-dark-color); }
.content-wrapper-narrow { margin-left: 440px; }
.content-wrapper-browse {
  min-height: 0;
  margin-left: 270px;
  padding: 20px;
  z-index: 800;
}
.content-wrapper-doc {
  margin: 0 10%;
}
a {
  color: var(--secondary-color);
}
.content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100px;
  font-size: 18px;
  font-family: 'Lato', Helvetica, Arial, Verdana;
}
.skin-custom .main-header .navbar,
.skin-custom .main-header .logo {
  background-color: var(--navbar-color);
}

/* logo and navbar */
.main-header .logo img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.navbar .pull-right a {
  color: var(--secondary-color);
  display: inline-block;
  margin-right: 30px;
  padding: 13px 15px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar .pull-right a:hover {
  text-decoration: underline;
}

/* main page */
.top-panel {
  background-color: #fff;
  padding: 20px 12% 20px 12%;
  display: flex;
  justify-content: center;
}
.project-intro {
  line-height: 1.3em;
  z-index: 30;
}
.top-panel h3,
.project-intro h3 {
  line-height: 1.3em;
  text-align: left;
  margin: 0 -80px 15px -20px;
  font-size: 26px;
  color: var(--text-color);
}
.project-intro ul {
  list-style: none;
  padding: 5px 0 0 5px;
}
.project-intro li {
  padding: 5px 0 0 20px;
}
.project-intro li:before {
  content: "\f061"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.project-intro li.arrow-blue:before {
  color: #6bacd0;
}
.project-intro li.arrow-red:before {
  color: #e48268;
}
.project-intro li.node:before {
  color: #666;
  content: "\f111";
}
.background-image {
  margin: -10px;
}
.background-image img {
  width: 100%;
  max-width: 800px;
  opacity: 0.8;
}

.btn-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 12% 50px 12%;
}
.btn-main {
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-main i {
  margin-right: 8px;
  font-size: 16px;
  vertical-align: middle;
}
.btn-main:hover {
  background-color: var(--primary-color);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project-info {
  padding-bottom: 50px;
  text-align: justify;
}
.project-info h3 {
  padding: 0 0 0 12%;
  font-size: 28px;
}
.project-info .project-detail {
  padding: 10px 12%;
  text-align: justify;
}
.project-info .logo img { float:right; width: 80px; margin-left:20px;}

.detail {
  padding: 50px 12% 100px 12%;
  background-color: var(--background-dark-color);
  text-align: left;
}

.detail-box {
  color: #ddd;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  padding: 15px 0 15px 0;
  font-size: 16px;
}
.detail-box a, .detail-box h4 { color: white; }
.detail-box a:hover {color: var(--primary-color); }


/* sidebar menu style */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu .treeview > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  color: #ECF0F1;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
}
.sidebar-menu .treeview-menu {
  padding-left: 20px;
  display: none;
}
.sidebar-menu .treeview-menu a {
  padding: 10px 12px;
  color: #ECF0F1;
  text-decoration: none;
  font-size: 14px;
}
.treeview.active > .treeview-menu {
  display: block;
}
/* sidebar icon */
.sidebar-menu .fa {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main-sidebar {
      width: 200px;
  }

  .sidebar-menu .treeview > a {
      font-size: 14px;
  }

  .sidebar-form .form-control {
      font-size: 12px;
  }
}

/* search page */
.entity-type-div {
  padding-left: 0;
}

.search-bar {
  padding: 2px 15%;
}

.btn.dropdown-toggle {
  width: 200px;
}
.entity-type-select {
  border: none;
  background-color: transparent;
}
.input-group .input-group-addon {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#statpane { font-size: 15px; }
#statpane b { font-size: 16px; }
#disqus_thread, #lefttable,
#statpane .wrapper, .tab-flower {
  padding: 15px 25px;
}
.statpane-left,
.statpane-control {
  padding-top: 10px;
}

.searchtable-container {
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.searchtable-container th {
  color: var(--text-color);
  font-size: 16px;
}

#rightslider {
  height: 100%;
  border-top: 10px #001F3F solid;
  background-color: rgba(0,0,0,0.5);
}

.loading i {
  width: 100%;
  height: 70%;
  text-align: center;
  color: var(--primary-color);
}

table, th, td, table.dataTable thead th, table.dataTable thead td {
  border: 0;
}
table {
  font-size: 14px;

}
.emb-table {
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}
.emb-table li {
  padding-top: 5px;
}

#selectiontable tr {
  color: var(--text-color);
  background: none;
}
#selectiontable-container th {
  color: white;
  font-size: 16px;
  background-color: rgba(0,0,0,0.5);
}

/* search table style */
.search-page {
  height: 100%;
  width: 100%;
  background-color: #f9f9f4;
}

#searchtable td,
#selectiontable td {
  font-size: 16px;
}
#searchtable td i,
#selectiontable td i {
  font-size: 20px;
  float: left;
  padding: 10px;
}
#searchtable td p,
#selectiontable td p {
  padding: 2px 10px;
}

.right-col {
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.left-col {
  height: 100%;
  padding: 0px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

div.searchbar {
  background-color: #fff;
  border-radius: 10px;
  height: 46px;
}

.searchbar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 16px;
  height: 100%;
}

/* Form submit button */
.searchbar button {
  background: #fff;
}

#search-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.entity-type-btn {
  background-color: #fff;
  font-size: 16px;
  height: 46px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

table.dataTable thead {
  display: none;
}

table.dataTable.no-footer {
  border-bottom: 0px solid #fff;
}


.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0px solid #111;
}

.inputbar {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 46px;
  width: 100%;
}

#continue-btn {
  background-color: var(--highlight-color);
  width: 100%;
  font-size: 16px;
  height: 46px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    z-index: 300;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 950px; /* Could be more or less, depending on screen size */
}
.modal-content img {
  border: 1px solid #bbb;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flower-loading{
  background: url('../images/button_loading.gif') no-repeat center center;
  background-size: 160px 20px;
  background-color: var(--secondary-color);
}
#resubmitButton {
  margin: 10px 0;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color),
     1px 1px 0 var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
}

.yearslider {
  height: 15px;
  width: 315px;
  margin: 12 20 6 40;
}
.noUi-horizontal .noUi-handle {
  width: auto;
  height: 24;
  padding: 0 5;
}
.noUi-handle:after, .noUi-handle:before {
  content: none;
}
div#publication-range .noUI-connect {
  background: #ABBD81;
}
div#citation-range .noUi-connect {
  background: #F47E60;
}
.axis path, .grid path, .tick line {
  stroke: #ddd;
}

#flower-container { margin-top:0; }

.nav-tabs {
  border-bottom: none;
}
.nav-tabs>li>a.tab-btn{
  padding: 8px 0;
  border-radius: 0 0 5px 5px;
  color:#000; background-color:transparent;
  border-left: 1px solid #ddd;
  border-bottom: 5px var(--primary-color) solid;
  border-top: none;
  text-align: center;
  width: 140px;
  font-size: 16px;
  margin: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a.tab-btn,
.nav-tabs>li>a.tab-btn:hover{
  color:#000; background-color:#f4f4f4;
  border-bottom: 5px var(--primary-color) solid;
}

img.fit-wrapper {
  max-width: 100%;
  max-height: 100%;
}
.field ul {
  margin: 0;
  padding-left: 15px;
}
.field li {
  white-space: nowrap;
}

table th {
  background-color: #001F3F80;
}

table td {
  padding: 5px;
}

table th {
  padding: 5px;
}

.innertable {
  box-shadow: inset 0px 2px 1px 0px #bbb;
}
.innertable div {
  padding: 8 50 3 50;
}

.innertable,
.innertable div,
.innertable table.dataTable thead th,
.innertable table.dataTable thead tr,
.innertable table.dataTable tbody tr {
  background-color: #edf5f9;
}
.innertable table.dataTable thead th {
  white-space: nowrap;
}


.link,
.new-link {
  fill: none;
}

circle {
  stroke: #666;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.stat {
  font-style: italic;
}

.label-as-badge,
button {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

input, select {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.custom-text-box {
  border-radius: 25px;
  background-color: rgba(200,200,200,.5);
  text-align: left;
  padding-bottom: 20;
}

.custom-text-box h1 {
  text-align: left;
  color: rgba(77, 77, 77, 1);
  padding-top: 25;
  padding-bottom:25;
}




/*    ------ Stylesheet for browse.html ------    */
.info-box {
  min-height: 75px;
  width: 260px;
  float: left;
  margin: 5px 0px 5px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.info-box-icon {
  margin: 10px;
  width: 58px;
  height: 75px;
  font-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #efefef;
  color: var(--text-color);
}
.info-box-img {
  margin: 10px;
  width: 58px;
  height: 75px;
  padding: 2px;
  display: inline;
}
.info-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 40px;
  height: 92px;
  padding: 7px 10px;
  color: var(--text-color);
}
.info-box-text {
  white-space: normal;
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: var(--text-color);
}
.info-box-more {
  position: absolute;
  z-index: 900;
  padding: 15px 10px;
  margin: 5px 0 0 0;
  width: 258px;
  overflow-y: scroll;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  text-align: left;
  transition: max-height 0.3s ease;
  color: var(--text-color);
}

.align-buttons {
  position: fixed;
  z-index: 1000;
  margin-top: 10px;
  right: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*    ---     Misc.     ---     */
.cntr{
  justify-content: center;
  display: flex;
}

td{
  cursor: pointer;
}
tr:hover td{
/*
  background: #ddd;
  */
  background: none;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #ddd;
}

.compact-text {
  margin: 0;
  line-height: 1.2;
}

/* The popup on node click */
.node_info_selection {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 180px; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.node_info_selection .node_info_button {
  padding: 8px;
  width: 100%;
  border: none;
  background-color: transparent;
}
.node_info_selection::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.selected-entity {
  border-radius: 5px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  /* color: #fff; */
}

/* The node info modal (background) */
.node_info_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.2); /* Black background with opacity */
}

/* Node info Content/Box */
.node_info_container {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.node_info_header {
  margin-bottom: 10px;
}

.node_info_lower {
  margin-bottom: -10px;
  display: flex;
  justify-content: right;
}

.node_info_a {
    color: black;
}

/* Flower text */
.node-text {
  font-size: 14px;
  /* font-family: Times; */
}
.node-ego-text {
  font-weight: bold;
  font-size: 18px;
  /* font-family: Courier New; */
  /* text-decoration: underline; */
}
