.content-wrapper-home,
.main-footer-home {
  margin-left:0;
}
.main-sidebar-wide { width: 400px; }
.content-wrapper-narrow { margin-left: 400px; }
.content-wrapper-browse {
  min-height: 0;
  margin-left: 230px;
  background-color: #ecf0f5;
  z-index: 800;
}
.content {
  min-height: 0;
}
.box-home {
  min-height:25%;
  padding: 20px;
  font-size: 20px;
}

.search-bar {
  padding: 2px 15%;
}
.btn.dropdown-toggle {
  width: 200px;
}
.entity-type-select {
  border: none;
  background-color: transparent;
}
.input-group .input-group-addon {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#disqus_thread, #lefttable,
#statpane .wrapper, .tab-flower {
  padding: 15px;
}

#searchtable-container th {
  color: black;
  background-color: #F7F7F7;
  font-size: 16px;
}

#rightslider {
  height: 100%;
  border-top: 10px #001F3F solid;
  background-color: rgba(0,0,0,0.5);
}

#loading {
  position: absolute;
  width: 100%;
  height: 70%;
  background: url('../images/loading.gif') no-repeat center center;
}

table, th, td, table.dataTable thead th, table.dataTable thead td {
  border: 0;
}
table {
  font-size: 14px;
}
#selectiontable tr {
  color: black;
  background: none;
}
#selectiontable-container th {
  color: white;
  font-size: 16px;
  background-color: rgba(0,0,0,0.5);
}

.flower-loading{
  background: url('../images/flower_updating.gif') repeat center center;
}
#resubmitButton {
  width: 240px;
  border: 2px solid #001F3F;
  font-weight: bold;
}

.yearslider {
  height: 15px;
  width: 315px;
  margin: 12 20 6 40;
}
.noUi-horizontal .noUi-handle {
  width: auto;
  height: 24;
  padding: 0 5;
}
.noUi-handle:after, .noUi-handle:before {
  content: none;
}
div#publication-range .noUI-connect {
  background: #ABBD81;
}
div#citation-range .noUi-connect {
  background: #F47E60;
}
.axis path, .grid path, .tick line {
  stroke: #ddd;
}

#flower-container { margin-top:0; }

.tab-btn:hover, .tab-btn.inverse{
  padding: 8px 20px;
  border-radius: 0 0 5px 5px;
  color:#001F3F; background-color:transparent; border-color:#ddd;
  border-bottom: 5px #001F3F solid;
}
.tab-btn, .tab-btn.active, .tab-btn.inverse:hover{
  padding: 8px 20px;
  border-radius: 0 0 5px 5px;
  color:#FFFFFF; background-color:#3c8dbc; border-color:#3c8dbc;
  border-bottom: 5px #001F3F solid;
}

img.fit-wrapper {
  max-width: 100%;
  max-height: 100%;
}
.field ul {
  margin: 0;
  padding-left: 15px;
}
.field li {
  white-space: nowrap;
}

table th {
/*
  background-color: #001F3F;
  */
  background-color: #001F3F80;
}

table td {
  padding: 5px;
}

table th {
  padding: 5px;
}

.innertable {
  box-shadow: inset 0px 2px 1px 0px #bbb;
}
.innertable div {
  padding: 8 50 3 50;
}

.innertable,
.innertable div,
.innertable table.dataTable thead th,
.innertable table.dataTable thead tr,
.innertable table.dataTable tbody tr {
  background-color: #edf5f9;
}
.innertable table.dataTable thead th {
  white-space: nowrap;
}


.link {
  fill: none;
}

circle {
  stroke: #666;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.stat {
  font-style: italic;
}

.label-as-badge {
    border-radius: 4px;
    padding: 2px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #e5e5e5;
}

.custom-text-box {
  border-radius: 25px;
  background-color: rgba(200,200,200,.5);
  text-align: left;
  padding-bottom: 20;
}

.custom-text-box h1 {
  text-align: left;
  color: rgba(77, 77, 77, 1);
  padding-top: 25;
  padding-bottom:25;
}




/*    ------ Stylesheet for browse.html ------    */
.info-box {
  min-height: 60px;
  max-height: auto;
  border: 1px solid gray;
  width: 260px;
  float: left;
  margin: 5px 0px 5px 20px;
  color: black;
}
.info-box-icon {
  width: 58px;
  height: 58px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.info-box-img {
  width: 58px;
  height: 58px;
  padding: 2px;
  display: inline;
}
.info-box-content {
  margin-left: 65px;
  height: 58px;
  padding: 9px 5px;
}
.info-box-text {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.info-box-more {
  position: absolute;
  z-index: 900;
  padding: 3px 10px;
  margin: -1px;
  width: 260px;
  border: 1px solid gray;
  border-top: 1px solid #ddd;
  background-color: white;
}
.align-buttons {
  position: fixed;
  z-index: 1000;
  margin-top: 10px;
  right: 10px;
}

/*    ---     Modal     ---     */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*    ---     Misc.     ---     */
.cntr{
  justify-content: center;
  display: flex;
}


td{
  cursor: pointer;
}
tr:hover td{
/*
  background: #ddd;
  */
  background: none;
}

/* The node info modal (background) */
.node_info_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
}

/* Node info Content/Box */
.node_info_container {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size
   /* float: right;*/
}

.node_info_a {
    color: black;
}

.node_info_header {
    margin-bottom: 10px;
}

.node_info_lower {
    margin-bottom: -10px;
    display: flex;
    justify-content: right;
}

/* Tooltip container */
.hoverinfo {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.hoverinfo .hoverinfotext {
    visibility: hidden;
    background-color: rgba(23, 23, 23, 0.5) ;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    /* position at bottom of text*/
    width: 180px;
    top: 100%;
    left: 50%;
    margin-left: -90px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

/* Show the tooltip text when you mouse over the tooltip container */
.hoverinfo:hover .hoverinfotext {
    visibility: visible;
}
