.wrapper {
  padding: 15px;
}

#header {
  height: 70px;
}
.bgded {
  background: url('../images/background.jpg') no-repeat center;
}
#pageintro {
  padding: 30px 0;
}
#footer{
  padding: 20px 0;
}
.overlay::after{
  color:inherit;
  background-color:rgba(0,61,109,0.5);
}

#searchbar {
  height: 100px;
  padding: 0;
  background-color: #ccc;
}

#lefttable {
  padding: 10px;
}
#searchtable-container th {
  color: black;
  background-color: #F7F7F7;
  font-size: 16px;
}

#rightslider {
  height: 100%;
  border-top: 10px #001F3F solid;
  background-color: rgba(0,0,0,0.5);
}

#loading {
  position: absolute;
  width: 100%;
  height: 70%;
  background: url('../images/loading.gif') no-repeat center center;
}

table, th, td, table.dataTable thead th, table.dataTable thead td {
  border: 0;
}
table {
  font-size: 14px;
}
#selectiontable tr {
  color: black;
  background: none;
}
#selectiontable-container th {
  color: white;
  font-size: 16px;
  background-color: rgba(0,0,0,0.5);
}
#statpane {
  border: 1px #ddd solid;
  border-top: none;
}

.yearslider {
  height: 15px;
  width: 380px;
  margin: 12 40 6 60;
}
.noUi-horizontal .noUi-handle {
  width: auto;
  height: 24;
  padding: 0 5;
}
.noUi-handle:after, .noUi-handle:before {
  content: none;
}
div#publication-range .noUI-connect {
  background: #ABBD81;
}
div#citation-range .noUi-connect {
  background: #F47E60;
}
.axis path, .grid path, .tick line {
  stroke: #ddd;
}

.nav-tabs {
  border: none;
}
.tab-btn:hover, .tab-btn.inverse{
  padding: 8px 20px;
  border-radius: 0 0 5px 5px;
  color:#001F3F; background-color:transparent; border-color:#ddd;
  border-bottom: 5px #001F3F solid;
}
.tab-btn, .tab-btn.active, .tab-btn.inverse:hover{
  padding: 8px 20px;
  border-radius: 0 0 5px 5px;
  color:#FFFFFF; background-color:#859EB6; border-color:#859EB6;
  border-bottom: 5px #001F3F solid;
}

.search-bar {
  padding: 32px 0;
}
img.fit-wrapper {
  max-width: 100%;
  max-height: 100%;
}
.field ul {
  margin: 0;
  padding-left: 15px;
}
.field li {
  white-space: nowrap;
}

table th {
  background-color: #001F3F;
}
.innertable {
  box-shadow: inset 0px 2px 1px 0px #bbb;
}
.innertable div {
  padding: 8 50 3 50;
}

.innertable,
.innertable div,
.innertable table.dataTable thead th,
.innertable table.dataTable thead tr,
.innertable table.dataTable tbody tr {
  background-color: #edf5f9;
}
.innertable table.dataTable thead th {
  white-space: nowrap;
}


.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  stroke: #666;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.stat {
  font-style: italic;
}

.label-as-badge {
    border-radius: 4px;
    padding: 2px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #e5e5e5;
}

.custom-text-box {
  border-radius: 25px;
  background-color: rgba(200,200,200,.5);
  text-align: left;
  padding-bottom: 20;
}

.custom-text-box h1 {
  text-align: left;
  color: rgba(77, 77, 77, 1);
  padding-top: 25;
  padding-bottom:25;
}




/*    ------ Stylesheet for browse.html ------    */
/*    ---     Tab     ---     */

/* Style the tab */
.tab {
    float: left;
/*                     border: 1px solid #ccc;
    background-color: #f1f1f1;*/
    width: 25%;
    /*height: 300px;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    /*background-color: inherit;*/
    background-color: #f1f1f1;
    color: black;
    padding: 22px 16px;
    width: 100%;
    /*border: none;*/
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 75%;
    background: white;
    /*border-left: none;*/
    /*height: 300px;*/
}


/*    ---     Modal     ---     */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*    ---     Misc.     ---     */
.cntr{
  justify-content: center;
  display: flex;
}


td{
  cursor: pointer;
}
tr:hover td{
  background: #ddd;
}

/* The node info modal (background) */
.node_info_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Node info Content/Box */
.node_info_container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    float: right;
}
